<div class="tree" [ngClass]="{
  'highlight': source.expanded,
  'no-highlight': !source.expanded
}">
  <mat-icon
    *ngIf="source.expanded"
    [id]="'raven-tree-'+source.name+'-collapse'"
    (click)="collapse.emit(source)">
    remove
  </mat-icon>
  <mat-icon
    *ngIf="!source.expanded"
    [id]="'raven-tree-'+source.name+'-expand'"
    (click)="expand.emit(source)">
    add
  </mat-icon>
  <span class="name">
    <i [ngClass]="source.icon" aria-hidden="true"></i> {{source.name}}
  </span>
</div>
