<nest-app-header title="Falcon" (menuClicked)="onMenuClicked()">
  <button
    [matMenuTriggerFor]="panelMenu"
    mat-icon-button
    matTooltip="Panels"
    role="button"
    aria-label="Panels"
    id="sequencing-panels-button"
  >
    <mat-icon class="icon">
      view_quilt
    </mat-icon>
  </button>

  <mat-menu #panelMenu id="panels-menu-container">
    <button
      mat-menu-item
      (click)="toggleLeftPanelVisible()"
      id="sequencing-panels-left-toggle-button"
    >
      <mat-icon aria-label="Toggle Left Panel">
        border_left
      </mat-icon>
      Toggle Left Panel
    </button>
    <button
      mat-menu-item
      (click)="toggleRightPanelVisible()"
      id="sequencing-panels-right-toggle-button"
    >
      <mat-icon aria-label="Toggle Right Panel">
        border_right
      </mat-icon>
      Toggle Right Panel
    </button>
  </mat-menu>
</nest-app-header>

<as-split
  unit="percent"
  useTransition="true"
  (dragEnd)="dragEnd($event)"
  #split
>
  <as-split-area
    [size]="leftPanelSize$ | async"
    [visible]="leftPanelVisible$ | async"
    order="1"
    #leftPanel
    id="left-panel-area"
  >
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">folder</mat-icon> Files
        </ng-template>

        <h3>Files</h3>
      </mat-tab>
    </mat-tab-group>
  </as-split-area>

  <as-split-area
    [size]="middlePanelSize$ | async"
    [visible]="middlePanelVisible$ | async"
    order="2"
    #editor
    id="middle-panel-area"
  >
    <sequencing-workspace></sequencing-workspace>
    <sequencing-workspace></sequencing-workspace>
  </as-split-area>

  <as-split-area
    [size]="rightPanelSize$ | async"
    [visible]="rightPanelVisible$ | async"
    order="3"
    #rightPanel
    id="right-panel-area"
  >
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">code</mat-icon> Commands
        </ng-template>

        <seq-command-loader
          [selectedId]="selectedDictionaryId$ | async"
          [dictionaries]="dictionaries$ | async"
          (selectDictionary)="onSelectDictionary($event)"
        >
        </seq-command-loader>

        <mat-form-field
          id="command-filter-input"
          *ngIf="selectedDictionaryId$ | async"
        >
          <input
            matInput
            placeholder="Command Filter"
            [(ngModel)]="commandFilterQuery"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <seq-command-list
          [commands]="commands$ | async"
          [commandsByName]="commandsByName$ | async"
          [commandFilterQuery]="commandFilterQuery"
          (selectCommand)="onSelectCommand($event)"
        >
        </seq-command-list>
      </mat-tab>
    </mat-tab-group>
  </as-split-area>
</as-split>
