/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */

:host {
  display: grid;
  grid-column-gap: 12px;
  grid-template-areas:
    'header header'
    'aside main';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40px 1fr;
  margin: 0;
  height: 100%;
}

nest-app-header {
  grid-area: header;
}

main {
  grid-area: main;
  height: 100%;
  position: relative;
}

raven-seq-editor {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

aside {
  grid-area: aside;
  margin-left: 12px;
  padding-top: 8px;
}

.tab-icon {
  margin-right: 8px;
}

::ng-deep .mat-tab-body-wrapper {
  padding-top: 30px;
}
