<nest-app-header title="Sequencing" (menuClicked)="onMenuClicked()">
</nest-app-header>

<main>
  <seq-editor
    [commands]="commands$ | async"
    [commandsByName]="commandsByName$ | async"
  >
  </seq-editor>
</main>

<aside>
  <seq-command-loader
    [selectedId]="selectedDictionaryId$ | async"
    [dictionaries]="dictionaries$ | async"
    (selectDictionary)="onSelectDictionary($event)"
  >
  </seq-command-loader>
  <seq-command-list
    [commands]="commands$ | async"
    (selectCommand)="onSelectCommand($event)"
  >
  </seq-command-list>
</aside>
