<ng-container *ngFor="let subBand of subBands; index as i; trackBy: subBandsTrackByFn">
  <!-- Activity Band. -->
  <raven-activity-band
    *ngIf="subBand.type === 'activity'"
    [activityHeight]="subBand.activityHeight"
    [activityStyle]="subBand.activityStyle"
    [alignLabel]="subBand.alignLabel"
    [baselineLabel]="subBand.baselineLabel"
    [borderWidth]="subBand.borderWidth"
    [class]="'raven-sub-band-' + i"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [dayCode]="dayCode"
    [earthSecToEpochSec]="earthSecToEpochSec"
    [epoch]="epoch"
    [excludeActivityTypes]="excludeActivityTypes"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [labelPin]="subBand.labelPin"
    [layout]="subBand.layout"
    [minorLabels]="subBand.minorLabels"
    [name]="subBand.name"
    [points]="subBand.points"
    [showActivityTimes]="subBand.showActivityTimes"
    [showLabel]="subBand.showLabel"
    [showLabelPin]="subBand.showLabelPin"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-activity-band>

  <!-- Divider Band. -->
  <raven-divider-band
    *ngIf="subBand.type === 'divider'"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [height]="subBand.height"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [name]="subBand.name"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-divider-band>

  <!-- Resource Band. -->
  <raven-resource-band
    *ngIf="subBand.type === 'resource'"
    [autoScale]="subBand.autoScale"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [dayCode]="dayCode"
    [earthSecToEpochSec]="earthSecToEpochSec"
    [epoch]="epoch"
    [fill]="subBand.fill"
    [fillColor]="subBand.fillColor"
    [font]="subBand.font"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [interpolation]="subBand.interpolation"
    [isDuration]="subBand.isDuration"
    [isTime]="subBand.isTime"
    [label]="subBand.label"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [labelPin]="subBand.labelPin"
    [labelUnit]="subBand.labelUnit"
    [logTicks]="subBand.logTicks"
    [maxLimit]="subBand.maxLimit"
    [minLimit]="subBand.minLimit"
    [name]="subBand.name"
    [points]="subBand.points"
    [scientificNotation]="subBand.scientificNotation"
    [showIcon]="subBand.showIcon"
    [showLabelPin]="subBand.showLabelPin"
    [showLabelUnit]="subBand.showLabelUnit"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateInterpolation)="onUpdateInterpolation($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)"
    (updateTickValues)="onUpdateTickValues($event)">
  </raven-resource-band>

  <!-- State Band. -->
  <raven-state-band
    *ngIf="subBand.type === 'state'"
    [alignLabel]="subBand.alignLabel"
    [baselineLabel]="subBand.baselineLabel"
    [borderWidth]="subBand.borderWidth"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [dayCode]="dayCode"
    [earthSecToEpochSec]="earthSecToEpochSec"
    [epoch]="epoch"
    [fill]="subBand.fill"
    [fillColor]="subBand.fillColor"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [isNumeric]="subBand.isNumeric"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [labelPin]="subBand.labelPin"
    [name]="subBand.name"
    [points]="subBand.points"
    [possibleStates]="subBand.possibleStates"
    [showIcon]="subBand.showIcon"
    [showLabelPin]="subBand.showLabelPin"
    [showStateChangeTimes]="subBand.showStateChangeTimes"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-state-band>
</ng-container>

<div [ngClass]="{ 'raven-band': true, 'raven-band--selected': isSelected }">
  <div
    #ctlMount
    class="raven-band__ctl"
    [ngStyle]="{ 'background-color': backgroundColor }">
  </div>
</div>
