<app-toolbar>
  <span>Plans</span>
</app-toolbar>

<as-split [gutterSize]="4">
  <as-split-area [size]="25">
    <app-panel-header>
      Create Plan
    </app-panel-header>
    <div class="p-1">
      <app-placeholder
        *ngIf="adaptations === null"
        [height]="100"
      ></app-placeholder>

      <mat-card *ngIf="adaptations !== null">
        <form [formGroup]="createPlanForm" (ngSubmit)="onSubmit()">
          <div *ngIf="!adaptations.length" id="no-adaptations-message">
            No adaptations found.<br />
            You need an adaptation in order to make a plan.<br />
            Try adding an adaptation
            <a [routerLink]="['/adaptations']">here</a>.
          </div>

          <ng-container *ngIf="adaptations.length">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Adaptation</mat-label>
              <mat-select
                formControlName="adaptationId"
                [required]="true"
                [value]="selectedAdaptationId"
              >
                <mat-option
                  *ngFor="let adaptation of adaptations"
                  [value]="adaptation.id"
                >
                  {{ adaptation.name }} {{ adaptation.version }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createPlanForm.controls.adaptationId.invalid">
                You must enter an adaptation
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Name</mat-label>
              <input
                #inputCreatePlanName
                [required]="true"
                autocomplete="off"
                formControlName="name"
                matInput
                type="text"
              />
              <mat-error *ngIf="createPlanForm.controls.name.invalid">
                You must enter a name
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Start Date</mat-label>
              <input
                [required]="true"
                autocomplete="off"
                formControlName="startTimestamp"
                matInput
                type="text"
              />
              <mat-error *ngIf="createPlanForm.controls.startTimestamp.invalid">
                You must enter a start date/time
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>End Date</mat-label>
              <input
                [required]="true"
                autocomplete="off"
                formControlName="endTimestamp"
                matInput
                type="text"
              />
              <mat-error *ngIf="createPlanForm.controls.endTimestamp.invalid">
                You must enter an end date/time
              </mat-error>
            </mat-form-field>

            <button
              class="mr-2"
              mat-raised-button
              color="accent"
              [disabled]="!createPlanForm.valid"
            >
              Create
            </button>
          </ng-container>
        </form>
      </mat-card>
    </div>
  </as-split-area>

  <as-split-area [size]="75">
    <app-panel-header>
      Plan List
    </app-panel-header>
    <div class="p-1">
      <app-placeholder *ngIf="plans === null"></app-placeholder>
      <ng-container *ngIf="plans !== null">
        <mat-card *ngIf="!plans.length" id="no-plans-message">
          No plans found.
        </mat-card>

        <app-plans-table
          *ngIf="plans.length"
          [plans]="plans"
          (deletePlan)="onDeletePlan($event)"
          (openPlan)="onOpenPlan($event)"
        ></app-plans-table>
      </ng-container>
    </div>
  </as-split-area>
</as-split>
