<!-- Settings and Close Icons. -->
<div class="icon-div">
  <mat-icon *ngIf="id === hoveredBandId"
    class="icons"
    matTooltip="Band Settings"
    [id]="'band-settings-edit'"
    (click)="settingsBand.emit(id)">
    edit
  </mat-icon>
  <mat-icon *ngIf="id === hoveredBandId && !isOverlayAddTo() && !isDividerBand"
    class="icons"
    matTooltip="Set Overlay"
    [id]="'band-settings-overlay'"
    (click)="updateOverlay.emit({bandId: id, update: {overlay: true}})">
    layers
  </mat-icon>
  <mat-icon *ngIf="(id === hoveredBandId || id === selectedBandId) && overlay && containActivityBand"
    [ngClass]="{overlay: overlay}"
    class="icons"
    matTooltip="set Add To"
    [id]="'band-settings-add-to'"
    (click)="onSwitchToAddTo(id)">
    layers
  </mat-icon>
  <mat-icon *ngIf="(id === hoveredBandId || id === selectedBandId) && overlay && !isDividerBand && !containActivityBand"
    [ngClass]="{overlay: overlay}"
    class="icons"
    matTooltip="set None"
    [id]="'band-settings-none-1'"
    (click)="onSwitchToNone(id)">
    layers
  </mat-icon>
  <mat-icon *ngIf="(id === hoveredBandId || id === selectedBandId) && containAddToBand && !isDividerBand"
    class="icons addTo"
    matTooltip="set None"
    [id]="'band-settings-none-2'"
    (click)="onSwitchToNone(id)">
    add_box
  </mat-icon>
  <mat-icon *ngIf="id === hoveredBandId && !isDividerBand"
    class="icons"
    matTooltip="Add Divider"
    [id]="'band-settings-add-divider'"
    (click)="addDivider.emit(id)">
    list_alt
  </mat-icon>
  <mat-icon *ngIf="id === hoveredBandId"
    class="icons"
    matTooltip="Remove Band"
    [id]="'band-settings-remove-band'"
    (click)="deleteBand.emit(id)">
    delete_outline
  </mat-icon>
</div>

<div
  *ngFor="let subBand of subBands; index as i; trackBy: subBandsTrackByFn">
  <!-- Activity Band. -->
  <raven-activity-band
    *ngIf="subBand.type === 'activity'"
    [activityHeight]="subBand.activityHeight"
    [activityLabelFontSize]="subBand.activityLabelFontSize"
    [activityStyle]="subBand.activityStyle"
    [alignLabel]="subBand.alignLabel"
    [baselineLabel]="subBand.baselineLabel"
    [borderWidth]="subBand.borderWidth"
    [class]="'raven-sub-band-' + i"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [dayCode]="dayCode"
    [earthSecToEpochSec]="earthSecToEpochSec"
    [epoch]="epoch"
    [excludeActivityTypes]="excludeActivityTypes"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [labelPin]="subBand.labelPin"
    [layout]="subBand.layout"
    [minorLabels]="subBand.minorLabels"
    [name]="subBand.name"
    [points]="subBand.points"
    [showActivityTimes]="subBand.showActivityTimes"
    [showLabel]="subBand.showLabel"
    [showLabelPin]="subBand.showLabelPin"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-activity-band>

  <!-- Divider Band. -->
  <raven-divider-band
    *ngIf="subBand.type === 'divider'"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [height]="subBand.height"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [name]="subBand.name"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-divider-band>

  <!-- Resource Band. -->
  <raven-resource-band
    *ngIf="subBand.type === 'resource'"
    [autoScale]="subBand.autoScale"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [dayCode]="dayCode"
    [earthSecToEpochSec]="earthSecToEpochSec"
    [epoch]="epoch"
    [fill]="subBand.fill"
    [fillColor]="subBand.fillColor"
    [font]="subBand.font"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [interpolation]="subBand.interpolation"
    [isDuration]="subBand.isDuration"
    [isTime]="subBand.isTime"
    [label]="subBand.label"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [labelPin]="subBand.labelPin"
    [labelUnit]="subBand.labelUnit"
    [logTicks]="subBand.logTicks"
    [maxLimit]="subBand.maxLimit"
    [minLimit]="subBand.minLimit"
    [name]="subBand.name"
    [points]="subBand.points"
    [scientificNotation]="subBand.scientificNotation"
    [showIcon]="subBand.showIcon"
    [showLabelPin]="subBand.showLabelPin"
    [showLabelUnit]="subBand.showLabelUnit"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateInterpolation)="onUpdateInterpolation($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)"
    (updateTickValues)="onUpdateTickValues($event)">
  </raven-resource-band>

  <!-- State Band. -->
  <raven-state-band
    *ngIf="subBand.type === 'state'"
    [alignLabel]="subBand.alignLabel"
    [baselineLabel]="subBand.baselineLabel"
    [borderWidth]="subBand.borderWidth"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [dayCode]="dayCode"
    [earthSecToEpochSec]="earthSecToEpochSec"
    [epoch]="epoch"
    [fill]="subBand.fill"
    [fillColor]="subBand.fillColor"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [isNumeric]="subBand.isNumeric"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="labelFontSize"
    [labelPin]="subBand.labelPin"
    [name]="subBand.name"
    [points]="subBand.points"
    [possibleStates]="subBand.possibleStates"
    [showIcon]="subBand.showIcon"
    [showLabelPin]="subBand.showLabelPin"
    [showStateChangeTimes]="subBand.showStateChangeTimes"
    [stateLabelFontSize]="subBand.stateLabelFontSize"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-state-band>
</div>

<div class="row" [ngClass]="{ 'raven-band': true, 'raven-band--selected': isSelected }">
  <div
    #ctlMount
    class="raven-band__ctl"
    [ngStyle]="{ 'background-color': backgroundColor }">
  </div>
</div>
