
:host {
  display: block;
}
.field {
  margin-left: 30px;
  margin-right: 30px;
}
.fieldLabel {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  width: 150px;
  margin-bottom: 16px;
}

input.labelWidth {
  width: 150px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.cmyk-text {
  float: left;

  width: 72px;
  height: 72px;

  font-weight: bolder;
  line-height: 72px;
  text-align: center;
  text-shadow: 1px 1px 2px #bbb;
}

