<h2 class="settings">Global Settings</h2>
<div fxLayout="column" class="field">
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
    <mat-form-field>
      <mat-select placeholder="Current Time Cursor" [value]="Disable" (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
        <mat-option [value]="1">Enable</mat-option>
        <mat-option [value]="2">Disable</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Tooltip" [value]="On" (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
        <mat-option [value]="1">On</mat-option>
        <mat-option [value]="2">Off</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
    <mat-form-field>
      <mat-select placeholder="Label Width" [value]="On" (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
        <mat-option [value]="1">+</mat-option>
        <mat-option [value]="2">-</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Label Font Size" [value]="On" (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
        <mat-option [value]="1">+</mat-option>
        <mat-option [value]="2">-</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
    <mat-form-field>
      <mat-select placeholder="Resource Color" [value]="[0,0,0]" (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
        <color-picker ng-model="color"></color-picker>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Font Style" [value]="On" (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
        <mat-option [value]="1">Arial</mat-option>
        <mat-option [value]="2">Helvetica</mat-option>
        <mat-option [value]="3">Times New Roman</mat-option>
        <mat-option [value]="4">Courier</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--div class="buttondiv" fxLayout="row" fxLayoutGap="50px">
    <button mat-raised-button>Clear All Guides</button>
    <button mat-raised-button>something else</button>
  </div-->
</div>
