:host {
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

td {
  background-color: #dcdfe5;
  padding: 0.5em;
  word-break: break-all;
}

mat-card-title {
  font-size: 16px;
}

.file-metadata,
.custom-metadata {
  padding-bottom: 10px;
}
