<app-toolbar>
  <span>Adaptations</span>
</app-toolbar>

<as-split [gutterSize]="4">
  <as-split-area [size]="25">
    <app-panel-header>
      Create Adaptation
    </app-panel-header>
    <div class="p-1">
      <mat-card>
        <form [formGroup]="createAdaptationForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input
              [required]="true"
              autocomplete="off"
              formControlName="name"
              id="create-adaptation-form-name"
              matInput
              type="text"
            />
            <mat-error *ngIf="createAdaptationForm.controls.name.invalid">
              You must enter a name
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Version</mat-label>
            <input
              [required]="true"
              autocomplete="off"
              formControlName="version"
              id="create-adaptation-form-version"
              matInput
              type="text"
            />
            <mat-error *ngIf="createAdaptationForm.controls.version.invalid">
              You must enter a version
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mission</mat-label>
            <input
              [required]="true"
              autocomplete="off"
              formControlName="mission"
              id="create-adaptation-form-mission"
              matInput
              type="text"
            />
            <mat-error *ngIf="createAdaptationForm.controls.mission.invalid">
              You must enter a mission
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Owner</mat-label>
            <input
              [required]="true"
              autocomplete="off"
              formControlName="owner"
              id="create-adaptation-form-owner"
              matInput
              type="text"
            />
            <mat-error *ngIf="createAdaptationForm.controls.owner.invalid">
              You must enter an owner
            </mat-error>
          </mat-form-field>

          <div class="pb-4">
            <input
              [required]="true"
              id="create-adaptation-form-file"
              type="file"
              (change)="onFileChange($event)"
            />
          </div>

          <button
            [disabled]="!createAdaptationForm.valid"
            class="mr-2"
            color="accent"
            id="create-adaptation-form-create-button"
            mat-raised-button
          >
            Create
          </button>
        </form>
      </mat-card>
    </div>
  </as-split-area>

  <as-split-area [size]="75">
    <app-panel-header>
      Adaptation List
    </app-panel-header>
    <div class="p-1">
      <app-placeholder *ngIf="adaptations === null"></app-placeholder>
      <ng-container *ngIf="adaptations !== null">
        <mat-card *ngIf="!adaptations.length" id="no-adaptations-message">
          No adaptations found.
        </mat-card>

        <app-adaptations-table
          *ngIf="adaptations.length"
          [adaptations]="adaptations"
          (createPlan)="onCreatePlan($event)"
          (deleteAdaptation)="onDeleteAdaptation($event)"
        ></app-adaptations-table>
      </ng-container>
    </div>
  </as-split-area>
</as-split>
