:host {
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.center {
  justify-content: center;
  text-align: center;
}
