/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */

.pan-to {
  padding-right: 10px;
}

.short {
  height: 15px;
}

.icon {
  font-size: 15px;
  padding-top: 10px;
  margin-left: 10px;
}

.disabled-icon {
  font-size: 15px;
  opacity: 0.37;
  padding-top: 10px;
  margin-left: 10px;
}
