:host {
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

input {
  width: 100%;
}

input.ng-invalid.ng-touched {
  box-shadow: 0 0 5px 1px red;
}

label {
  padding-bottom: 5px;
}

.mat-dialog-title {
  font: 100 20px/20px Roboto,"Helvetica Neue",sans-serif;
}

.actions {
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.shareable-link-input {
  padding-bottom: 20px;
}

.shareable-name-input {
  padding-bottom: 10px;
}
