# compiled output
/dist
/tmp
/out-tsc
__pycache__/

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
version.ts
documentation

# testing
karma-test-results.xml
/reports
e2e/results/*.json

# System Files
.DS_Store
Thumbs.db

# Tools
.scannerwork
