<mat-drawer-container>
  <mat-drawer
    #fileMetadataDrawer
    mode="over"
    position="end">
    <button
      mat-icon-button
      (click)="fileMetadataDrawer.toggle()">
      <mat-icon
        class="mat-24"
        aria-label="Clear">
        clear
      </mat-icon>
    </button>
    <raven-file-metadata
      *ngIf="selectedSourceId !== ''"
      [fileMetadata]="tree[selectedSourceId].fileMetadata"
      [name]="tree[selectedSourceId].name">
    </raven-file-metadata>
  </mat-drawer>
  <mat-tab-group>
    <mat-tab label="Home">
      <div class="tab">
        <ng-container *ngFor="let childId of tree['/'].childIds">
          <raven-tree
            [class]="tree[childId].name"
            [id]="childId"
            [source]="tree[childId]"
            [tree]="tree"
            (action)="onAction($event)"
            (addCustomGraph)="onAddCustomGraph($event)"
            (addFilter)="onAddFilter($event)"
            (addGraphableFilter)="onAddGraphableFilter($event)"
            (close)="onClose($event)"
            (collapse)="onCollapse($event)"
            (expand)="onExpand($event)"
            (open)="onOpen($event)"
            (openMetadata)="fileMetadataDrawer.toggle()"
            (removeFilter)="onRemoveFilter($event)"
            (removeGraphableFilter)="onRemoveGraphableFilter($event)"
            (select)="onSelect($event)">
          </raven-tree>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab *ngFor="let pin of pins" [label]="pin.name">
      <div class="tab">
        <mat-card *ngIf="!tree[pin.sourceId]">
          The source for this pin is not loaded.
        </mat-card>

        <raven-tree
          *ngIf="tree[pin.sourceId]"
          [class]="tree[pin.sourceId].name"
          [id]="pin.sourceId"
          [source]="tree[pin.sourceId]"
          [tree]="tree"
          (action)="onAction($event)"
          (addCustomGraph)="onAddCustomGraph($event)"
          (addFilter)="onAddFilter($event)"
          (addGraphableFilter)="onAddGraphableFilter($event)"
          (close)="onClose($event)"
          (collapse)="onCollapse($event)"
          (expand)="onExpand($event)"
          (open)="onOpen($event)"
          (openMetadata)="fileMetadataDrawer.toggle()"
          (removeFilter)="onRemoveFilter($event)"
          (removeGraphableFilter)="onRemoveGraphableFilter($event)"
          (select)="onSelect($event)">
        </raven-tree>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-drawer-container>
