# Don't send any particular file by default.
*

# Explicitly whitelist files relevant to image creation.
!merlin-server/build/distributions/*.tar
!merlin-worker/build/distributions/*.tar
!scheduler-server/build/distributions/*.tar
