## Aerie ##
/adaptation_files/

## Cache ##
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE's ###
.idea
.vscode
*.iml
*.ipr
*.iws
**/target/*
.*.swp

### Build ###
.m2
*.local
*.tar.gz
/.buckd/
/.nb-gradle/
/buck-out/
/build/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# jqwik property-based testing database
.jqwik-database
