<mat-expansion-panel #panel displayMode="flat" [expanded]="expanded"
  (closed)="closed.emit($event)" (opened)="opened.emit($event)">
  <mat-expansion-panel-header>
    {{ title || "Plans" }}
  </mat-expansion-panel-header>
  <mat-panel-description>
    Select or create a plan.
  </mat-panel-description>

  <mat-nav-list>
    <cdk-virtual-scroll-viewport class="viewport" itemSize="50">
      <mat-list-item
        (click)="onClickSelect(plan)"
        *cdkVirtualFor="let plan of plans"
        [class.mat-list-item-focus]="plan.id === selectedPlan?.id"
        class="plan-item">
        <span matLine>{{ plan.name }}</span>
        <button type="button" mat-icon-button color="accent" (click)="onClickUpdate($event, plan)">
          <mat-icon aria-label="Edit plan">
            edit
          </mat-icon>
        </button>
        <button type="button" mat-icon-button color="accent" (click)="onClickDelete($event, plan)">
          <mat-icon aria-label="Delete plan">
            clear
          </mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-nav-list>

  <mat-action-row class="button-row">
    <button mat-button color="accent" (click)="onClickCreate()">
      <mat-icon>add</mat-icon> Create Plan
    </button>
  </mat-action-row>
</mat-expansion-panel>
