<mat-toolbar
  color="primary"
  layout="row"
  style="position: fixed;">
  <button
    mat-icon-button
    class="menu-icon">
      <mat-icon
        (click)="toggleLeftDrawer()"
        class="mat-24"
        aria-label="Menu">
        menu
      </mat-icon>
  </button>
  Raven
</mat-toolbar>

<mat-sidenav-container
  fullscreen>
  <mat-sidenav
    [opened]="showLeftDrawer$ | async"
    mode="side"
    class="sidenav">
    Source Explorer Here
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
