:host {
  display: block;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  height: 40px;
  background-color: #039be5;
}
