.bandcanvas {
  display: block;
}

.falcon-timeline-sortable-placeholder {
  background-color: rgb(230,230,250);
}

.timebanddiv {
  overflow: hidden;
  position: relative;
}

.timescrollbarbutton {
  background-color: rgba(20, 20, 20, .2);
  position: absolute !important;
  top: 0;
  z-index: 1;
  cursor: move;
}

.timescrollbardiv {
  overflow: hidden;
  position: relative;
}

.tooltipdiv {
  background-color: #fff;
  box-shadow: 0 0 10px 1px #ccc;
  font-size: .9em;
  padding: 1em;
  position: fixed;
  width: 400px;
  z-index: 2;
  display: none;
}
