<mat-toolbar color="primary">
  <button
    [matMenuTriggerFor]="rootMenu"
    mat-icon-button>
    <mat-icon
      aria-label="Menu">
      menu
    </mat-icon>
  </button>

  <mat-menu
    #rootMenu="matMenu"
    [overlapTrigger]="false"
    y-position="below">
    <button
      mat-menu-item
      [matMenuTriggerFor]="subMenu">
      <mat-icon
        aria-label="Panels">
        view_quilt
      </mat-icon>
      Panels
    </button>

    <button
      mat-menu-item
      (click)="toggleEpochsDrawer()">
      <mat-icon
        aria-label="Epochs Drawer">
        timelapse
      </mat-icon>
      Manage Epochs
    </button>

    <button
      mat-menu-item
      (click)="toggleOutputDrawer()">
      <mat-icon
        aria-label="Manage Output">
        save_alt
      </mat-icon>
      Manage Output
    </button>

    <button
      mat-menu-item
      (click)="toggleTimeCursorDrawer()">
      <mat-icon
        aria-label="Time Cursor Drawer">
        access_time
      </mat-icon>
      Manage Time Cursor
    </button>

    <button
      mat-menu-item
      (click)="toggleSituationalAwarenessDrawer()">
      <mat-icon
        aria-label="Situational Awareness Drawer">
        timeline
      </mat-icon>
      Situational Awareness
    </button>

    <button
      mat-menu-item
      (click)="toggleShareableLinkDialog()">
      <mat-icon
        aria-label="Get Shareable Link">
        link
      </mat-icon>
      Get Shareable Link
    </button>

    <button
      mat-menu-item
      (click)="toggleAboutDialog()">
      <mat-icon
        aria-label="About Raven">
        info
      </mat-icon>
      About Raven
    </button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <button
      *ngIf="mode !== 'minimal'"
      mat-menu-item
      (click)="toggleLeftPanel()">
      <mat-icon
        aria-label="Left Panel">
        view_column
      </mat-icon>
      Toggle Left Panel
    </button>

    <button
      mat-menu-item
      (click)="toggleRightPanel()">
      <mat-icon
        aria-label="Right Panel">
        show_chart
      </mat-icon>
      Toggle Right Panel
    </button>

    <button
      mat-menu-item
      (click)="toggleSouthBandsPanel()">
      <mat-icon
        aria-label="South Bands">
        view_stream
      </mat-icon>
      Toggle South Bands Panel
    </button>

    <button
      mat-menu-item
      (click)="toggleDetailsPanel()">
      <mat-icon
        aria-label="Details">
        assessment
      </mat-icon>
      Toggle Details Panel
    </button>
  </mat-menu>

  <span class="app-title">Raven</span>

  <span class="spacer"></span>

  <raven-pan-to-duration
    (panTo)="onPanTo($event)">
  </raven-pan-to-duration>

  <button
    mat-icon-button
    matTooltip="Reset Time"
    (click)="onReset()">
    <mat-icon
      aria-label="Reset Time">
      restore
    </mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Zoom In Time"
    (click)="onZoomIn()">
    <mat-icon
      aria-label="Zoom In Time">
      zoom_in
    </mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Zoom Out Time"
    (click)="onZoomOut()">
    <mat-icon
      aria-label="Zoom Out Time">
      zoom_out
    </mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Pan Left Time"
    (click)="onPanLeft()">
    <mat-icon
      aria-label="Pan Left Time">
      skip_previous
    </mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Pan Right Time"
    (click)="onPanRight()">
    <mat-icon
      aria-label="Pan Right Time">
      skip_next
    </mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Global Band Settings"
    (click)="toggleGlobalSettingsDrawer()">
    <mat-icon
      aria-label="Settings">
      settings
    </mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate">
  </mat-progress-bar>
</div>

<div class="timeline">
  <app-timeline></app-timeline>
</div>
