:host {
  display: block;
  height: 100%;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  height: 40px;
  background-color: #039be5;
}

.mat-progress-bar {
  position: absolute;
  top: 40px;
  height: 3px;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

.outlet {
  padding-top: 42px;
  height: 100%;
  width: 100%;
}

.grid-button {
  width: 64px;
  height: 64px;
}

mat-sidenav.mat-sidenav {
  width: 300 px;
}

.done-button {
  margin-top: 60px;
}
