<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="toggleLeftPanel()">
    <mat-icon
      class="mat-24"
      aria-label="Menu">
      menu
    </mat-icon>
  </button>

  <span class="app-title">Raven2</span>

  <span class="spacer"></span>

  <button
    mat-icon-button
    matTooltip="Global Band Settings"
    (click)="toggleGlobalSettingsDrawer()">
    <mat-icon
      class="mat-24"
      aria-label="Settings">
      settings
    </mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Epochs"
    (click)="toggleEpochsDrawer()">
    <mat-icon
      class="mat-24"
      aria-label="Epochs">
      access_time
    </mat-icon>
  </button>

  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button>
    <mat-icon
      class="mat-24"
      aria-label="List">
      list
    </mat-icon>
  </button>

  <mat-menu
    #menu="matMenu"
    [overlapTrigger]="false"
    y-position="below">
    <button
      mat-menu-item
      (click)="toggleSouthBandsPanel()">
      <mat-icon
        class="mat-24"
        aria-label="South Bands">
        view_agenda
      </mat-icon>
      Toggle South Bands
    </button>

    <button
      mat-menu-item
      (click)="toggleDetailsPanel()">
      <mat-icon
        class="mat-24"
        aria-label="Details">
        assessment
      </mat-icon>
      Toggle Details
    </button>

    <button
      mat-menu-item
      (click)="toggleRightPanel()">
      <mat-icon
        class="mat-24"
        aria-label="Right Panel">
        show_chart
      </mat-icon>
      Toggle Right Panel
    </button>
  </mat-menu>
</mat-toolbar>

<div *ngIf="loading$ | async">
  <mat-progress-bar mode="query">
  </mat-progress-bar>
</div>

<div class="outlet">
  <router-outlet></router-outlet>
</div>
