<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="toggleLeftDrawer()">
    <mat-icon
      class="mat-24"
      aria-label="Menu">
      menu
    </mat-icon>
  </button>

  <span class="app-title">Raven2</span>

  <span class="spacer"></span>

  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button>
    <mat-icon
      class="mat-24"
      aria-label="List">
      list
    </mat-icon>
  </button>

  <mat-menu
    #menu="matMenu"
    [overlapTrigger]="false"
    y-position="below">
    <button
      mat-menu-item
      (click)="toggleSouthBandsDrawer()">
      <mat-icon
        class="mat-24"
        aria-label="South Bands">
        view_agenda
      </mat-icon>
      Toggle South Bands
    </button>

    <button
      mat-menu-item
      (click)="toggleDetailsDrawer()">
      <mat-icon
        class="mat-24"
        aria-label="Details">
        assessment
      </mat-icon>
      Toggle Details
    </button>

    <button
      mat-menu-item
      (click)="stateSave()">
      <mat-icon
        class="mat-24"
        aria-label="State Save">
        save
      </mat-icon>
      Save State
    </button>

    <button
      mat-menu-item
      (click)="stateLoad()">
      <mat-icon
        class="mat-24"
        aria-label="State Load">
        file_upload
      </mat-icon>
      Load State
    </button>
  </mat-menu>
</mat-toolbar>

<div *ngIf="loading">
  <mat-progress-bar
    mode="query">
  </mat-progress-bar>
</div>

<div class="outlet">
  <router-outlet></router-outlet>
</div>
