<div
  class="sortable-bands"
  [sortablejs]="sortedAndFilteredBands"
  [sortablejsOptions]="sortablejsOptions">
  <div
    *ngFor="let band of sortedAndFilteredBands; index as i; trackBy: bandsTrackByFn"
    [ngClass]="{ 'selected': band.id === selectedBandId }">
    <falcon-composite-band
      [class]="'raven-band-' + i"
      [height]="band.height"
      [heightPadding]="band.heightPadding"
      [id]="band.id"
      [labelWidth]="labelWidth"
      [maxTimeRange]="maxTimeRange"
      [selectedPoint]="selectedPoint"
      [showTooltip]="showTooltip"
      [subBands]="band.subBands"
      [viewTimeRange]="viewTimeRange"
      (bandLeftClick)="bandLeftClick.emit($event)"
      (updateViewTimeRange)="updateViewTimeRange.emit($event)">
    </falcon-composite-band>
  </div>
</div>
