:host {
  display: block;
  padding-bottom: 10px;
}

.selected {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.sortable-bands {
  padding-bottom: 20px;
}

.sortable-placeholder {
  background-color: rgb(230, 230, 250);
}

