<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100 pb-2" appearance="fill">
    <mat-label>Activity Type</mat-label>
    <mat-select formControlName="type" [required]="true">
      <mat-option *ngFor="let type of activityTypes" [value]="type.name">
        {{ type.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.type.invalid">
      You must enter an activity type
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 pb-2" appearance="fill">
    <mat-label>Start Date</mat-label>
    <input
      [required]="true"
      autocomplete="off"
      formControlName="startTimestamp"
      matInput
      type="text"
      placeholder="YYYY-DDDThh:mm:ss"
    />
    <mat-error *ngIf="form.controls.startTimestamp.invalid">
      You must enter a start date/time
    </mat-error>
  </mat-form-field>

  <div class="pb-4" *ngIf="formParameters?.controls.length">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Parameters
          </mat-panel-title>
          <mat-panel-description>
            Override default parameters
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          formArrayName="parameters"
          *ngFor="let parameter of formParameters?.controls; let i = index"
        >
          <mat-form-field [formGroupName]="i" class="w-100 pb-2">
            <mat-label>{{ parameter.value.name }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="value"
              autocomplete="off"
            />
            <mat-hint>type: {{ parameter.value.type }}</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <button
    class="mr-2"
    mat-raised-button
    color="accent"
    [disabled]="!form.valid"
  >
    Create
  </button>
</form>
