/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */

:host {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    'header header'
    'main main';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 40px 1fr;
  margin: 0;
  height: 100%;
}

raven-app-header {
  grid-area: header;
}

main {
  grid-area: main;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  margin-right: 300px;
  padding: 3rem 2rem 1rem;
}

mat-sidenav {
  width: 300px;
  padding: 12px;
}

.empty {
  background: rgba(0, 0, 0, 0.04);
  margin-top: 16px;
  padding: 24px;
}

.page-header {
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: auto 1fr auto;
}

.mat-display-1 {
  margin-bottom: 0;
  /* Add the same amount of padding as the select so they will line up */
  padding-bottom: 1.34375rem;
}
