<raven-app-header title="Planning" (menuClicked)="onMenuClicked()"></raven-app-header>

<main class="content">
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav-content>
      <div class="page-header">
        <h1 class="mat-display-1">Planning Cycle:</h1>
        <raven-plan-selector [plans]="plans"
          [selectedPlan]="selectedPlan"
          (selectPlanClicked)="selectPlan($event)">
        </raven-plan-selector>
        <button mat-raised-button color="accent" (click)="showCreatePlanForm()">
          <mat-icon>add</mat-icon> Create New Plan
        </button>
      </div>
    </mat-sidenav-content>
    <mat-sidenav mode="over" position="end" opened="true">
      <aside>
        <mat-accordion>
          <raven-activity-type-list (createActivityTypeClicked)="showCreateActivityTypeForm()"
            (deleteActivityTypeClicked)="deleteActivityType($event.id)"
            (updateActivityTypeClicked)="showUpdateActivityTypeForm($event.id)"
            *ngIf="activityTypes.length" [activityTypes]="activityTypes">
          </raven-activity-type-list>
        </mat-accordion>

        <div class="empty" *ngIf="!activityTypes.length">
          Select a plan to view activity types.
        </div>
      </aside>
    </mat-sidenav>
  </mat-sidenav-container>
</main>
