<form>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Filter Activity Types</mat-label>
    <input
      (input)="filterActivityTypes($event.target.value)"
      type="text"
      matInput
      autocomplete="off"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<mat-card *ngIf="filteredActivityTypes.length === 0">
  No Activities Types Found
</mat-card>

<mat-accordion [multi]="true">
  <mat-expansion-panel
    class="mb-1"
    *ngFor="let activityType of filteredActivityTypes"
    (click)="onActivityTypeSelect(activityType)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ activityType.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-chip-list mat-line>
      <mat-chip *ngFor="let parameter of activityType.parameters">
        {{ parameter.name }}: {{ parameter.type }}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
