.button-container {
  padding-top: 40px;
  padding-left: 10px;
}

.epoch-filter {
  padding-top: 20px;
  padding-left: 20px;
}

.import-epoch {
  padding-left: 30px;
}

input[type='file'] {
  color: transparent;
}

.mat-column-select {
  overflow: visible;
}

mat-table {
  overflow: auto;
  max-height: 700px;
}
