/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */

.tree {
  cursor: pointer;
  min-height: 25px;
  padding-left: 5px;
  white-space: nowrap;
}

mat-icon {
  font-size: 16px;
}

.menu-icon {
  color: #000000;
  height: 21px;
  line-height: 0;
  width: 21px;
}

.name {
  line-height: 25px;
}

.highlight {
  color: #688ad8;
}

.no-highlight {
  color: #000000;
}

.selected {
  background-color: rgba(200, 200, 200, 0.5);
}

ul {
  margin: 0;
  padding-left: 25px;
}

li {
  list-style-type: none;
}
