<div mat-dialog-content>
  <div class="import-to"><label>Import To:</label> {{ data.source.name }}</div>

  <div class="container">
    <mat-form-field>
      <input [(ngModel)]="file.name" matInput placeholder="Name" required />
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="File Type" [(value)]="file.type">
        <mat-option [value]="'epoch'">Epoch</mat-option>
        <mat-option [value]="'generic'">Generic CSV</mat-option>
        <mat-option [value]="'pef'">PEF</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="file">
      <label>File</label>
      <input type="file" (change)="readFile($event.target.files[0], false)" />
    </div>

    <div *ngIf="file.type === 'generic'" class="mapping-file">
      <label>Mapping File</label>
      <input type="file" (change)="readFile($event.target.files[0], true)" />
    </div>

    <mat-form-field *ngIf="file.type === 'generic'">
      <mat-select placeholder="Time Format" [(value)]="file.timeFormat">
        <mat-option [value]="'doy'">DOY (YYYY-DDDTHH:MM:SS.sss)</mat-option>
        <mat-option [value]="'dom'">DOM (YYYY-MM-DDTHH:MM:SS.sss)</mat-option>
        <mat-option [value]="'julian'">Julian</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="container">
  <div class="actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onImport()">Import</button>
  </div>
</div>
