/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */
::ng-deep .CodeMirror-tooltip,
::ng-deep .CodeMirror-lint-tooltip {
  position: absolute;
  z-index: 5;
  padding: 1.5em;
  max-width: 400px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  background: rgb(224, 224, 224);
  color: #333 !important;
  border-radius: 1em;
  font: 400 14px/20px Roboto, 'Helvetica Neue', sans-serif;
}

::ng-deep .CodeMirror-tooltip h3 {
  color: #ae4b00;
  margin: 0;
  margin-bottom: 1em;
}

::ng-deep .CodeMirror-tooltip h4 {
  color: #6f818e;
  margin: 0;
  margin-bottom: 0.5em;
}

::ng-deep .CodeMirror-tooltip .parameter-help {
  margin-left: 2em;
}

::ng-deep .CodeMirror-tooltip .parameter-name {
  color: #ae4b00;
}

::ng-deep .CodeMirror-tooltip p:last-of-type {
  margin-bottom: 0px;
}

::ng-deep .CodeMirror-lint-marker-error {
  background-image: none;
  background: #ff7b7b;
  left: 30px;
  width: 3px;
  height: 20px;
}

::ng-deep .CodeMirror-linenumber {
  left: unset !important;
}

:host,
#sequencing-editor-mount {
  height: 100%;
}

#sequencing-editor-mount {
  background: #272822;
}

::ng-deep .CodeMirror-fullscreen {
  z-index: 10 !important;
}

.hint-description {
  position: fixed;
  background: #ffffff;
  z-index: 10;
  display: none;
  padding: 6px;
  border: 2px solid #ccc;
}

#fullscreen-toggle {
  position: absolute;
  right: 6px;
  z-index: 10;
  opacity: 0.25;
  transition: opacity 0.25s ease-in;
  margin-top: 6px;
}

#fullscreen-toggle:hover {
  opacity: 1;
}
