/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */
::ng-deep .CodeMirror-tooltip {
  position: absolute;
  z-index: 5;
  padding: 1.5em;
  max-width: 400px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: rgb(224, 224, 224);
  color: #333;
  border-radius: 1em;
}

::ng-deep .CodeMirror-tooltip h3 {
  color: #ae4b00;
  margin: 0;
  margin-bottom: 1em;
}

::ng-deep .CodeMirror-tooltip h4 {
  color: #6f818e;
  margin: 0;
  margin-bottom: 0.5em;
}

::ng-deep .CodeMirror-tooltip .parameter-help {
  margin-left: 2em;
}

::ng-deep .CodeMirror-tooltip .parameter-name {
  color: #ae4b00;
}

::ng-deep .CodeMirror-tooltip p:last-of-type {
  margin-bottom: 0px;
}

:host,
#sequencing-editor-mount {
  display: block;
  height: 100%;
  width: 100%;
}

#sequencing-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#sequencing-toolbar > button {
  margin: 8px 8px 8px 0px;
}

#sequencing-filename {
  margin-right: auto;
  margin-bottom: 0;
}

::ng-deep .CodeMirror-fullscreen {
  z-index: 10 !important;
}
