<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filter
    </mat-panel-title>

    <mat-panel-description *ngIf="isActive">Active!</mat-panel-description>
    <mat-panel-description *ngIf="!isActive">(inactive)</mat-panel-description>
  </mat-expansion-panel-header>

  <form (submit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        name="name-pattern"
        placeholder="File name"
        [(ngModel)]="namePattern"
      />
    </mat-form-field>

    <button mat-button>Search</button>
  </form>
</mat-expansion-panel>
