<ng-container>
  <div class="dataLabel">Activity Name</div>
  <div class="dataValue">{{dataPoint['activityName']}}</div>
  <div class="dataLabel">Activity Type</div>
  <div class="dataValue">{{dataPoint['activityType']}}</div>
  <div class="dataLabel">Activity Start Time</div>
  <div class="dataValue">{{dataPoint['startTimestamp']}}</div>
  <div class="dataLabel">Activity End Time</div>
  <div class="dataValue">{{dataPoint['endTimestamp']}}</div>
  <div class="dataLabel">Duration</div>
  <div class="dataValue">{{dataPoint['duration'] | dhms}}</div>
  <div class="dataLabel">Parameters
    <mat-icon *ngIf="dataPoint['activityParameters'].length > 0 && !viewParameter"
      [id]="view-parameter-add"
      (click)="toggleViewParameter.emit()"
      class="dataIcon">
      add_circle_outline
    </mat-icon>
    <mat-icon *ngIf="dataPoint['activityParameters'].length > 0 && viewParameter"
      [id]="view-parameter-remove"
      (click)="toggleViewParameter.emit()"
      class="dataIcon">
      remove_circle_outline
    </mat-icon>
    <ng-container *ngIf="viewParameter">
      <ng-container *ngFor="let param of dataPoint['activityParameters']">
        <div class="paramLabel">{{param.Name}}</div>
        <div class="paramValue">{{param.Value}}</div>
      </ng-container>
    </ng-container>
  </div>
  <div class="dataLabel">metadata
    <mat-icon *ngIf="dataPoint['metadata'].length > 0 && !viewMetadata"
      [id]="view-metadata-add"
      (click)="toggleViewMetadata.emit()"
      class="dataIcon">
      add_circle_outline
    </mat-icon>
    <mat-icon *ngIf="dataPoint['metadata'].length > 0 && viewMetadata"
      [id]="view-metadata-remove"
      (click)="toggleViewMetadata.emit()"
      class="dataIcon">
      remove_circle_outline
    </mat-icon>
    <ng-container *ngIf="viewMetadata">
      <ng-container *ngFor="let meta of dataPoint['metadata']">
        <div class="metaLabel">{{meta.Name}}</div>
        <div class="metaValue">{{meta.Value}}</div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
