<mat-card>
  <mat-card-title>
    Manage Time Cursor
  </mat-card-title>

  <mat-card-content>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutWrap>
      <!-- Show Time Cursor. -->
      <div class="field">
        <mat-slide-toggle
          color="primary"
          [checked]="showTimeCursor"
          (change)="displayTimeCursor.emit($event.checked)">
          Show Time Cursor
        </mat-slide-toggle>
      </div>

      <!-- Current Cursor Time. -->
      <div class="field">
        <mat-form-field>
          <input
            matInput
            readonly
            placeholder="Current Cursor Time"
            [value]="cursorTime | timestamp">
        </mat-form-field>
      </div>

      <!-- Set Cursor Time. -->
      <div class="field">
        <mat-form-field floatLabel="always">
          <mat-label>Set Current Cursor Time</mat-label>
          <input
            matInput
            [formControl]="setCursorTimeControl"
            placeholder="yyyy-dddThh:mm:ss.mmm"
            type="text"
            (keyup.enter)="onSetCursorTime()">
        </mat-form-field>
      </div>

      <!-- AutoPage. -->
      <div class="field">
        <mat-slide-toggle
          color="primary"
          [checked]="autoPage"
          (change)="updateTimeCursorSettings.emit({ update: { autoPage: $event.checked } })">
          Auto-page
        </mat-slide-toggle>
      </div>

      <!-- Clock Rate. -->
      <div class="field">
        <label>Clock Rate x </label>
        <input
          mat-input
          min="1"
          name="clockRate"
          step="1"
          type="number"
          [value]="clockRate"
          (change)="updateTimeCursorSettings.emit({ update: { clockRate: $event.target.valueAsNumber } })">
      </div>

      <!-- Current Time Delta. -->
      <div class="field">
        <mat-form-field>
          <input
            matInput
            placeholder="Current Time Delta(sec)"
            type="number"
            [value]="currentTimeDelta"
            (change)="updateTimeCursorSettings.emit({ update: { currentTimeDelta: $event.target.valueAsNumber } })">
        </mat-form-field>
      </div>

      <!-- Cursor Color. -->
      <div class="field">
        <label>Cursor Color </label>
        <input
          type="color"
          [value]="cursorColor"
          (input)="updateTimeCursorSettings.emit({ update: { cursorColor: $event.target.value } })">
      </div>

      <!-- Cursor Width. -->
      <div class="field">
        <mat-form-field floatLabel="always">
          <mat-label>Cursor Width</mat-label>
          <input
            matInput
            max="5"
            min="1"
            step="1"
            type="number"
            [formControl]="cursorWidthControl"
            [value]="cursorWidth"
            (change)="onSetCursorWidth($event.target.valueAsNumber)">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
