<mat-card>
  <mat-card-title>
    Global Band Settings
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
      <!-- Label Width. -->
      <div class="field">
        <label>Label Width</label>
        <input
          mat-input
          [value]="defaultBandSettings.labelWidth"
          type="number"
          name="labelWidth"
          step="1"
          min="5"
          max="300"
          (change)="
            updateDefaultBandSettings.emit({
              update: { labelWidth: $event.target.valueAsNumber }
            })
          "
        />
      </div>

      <!-- Show Last Click. -->
      <div class="field">
        <mat-slide-toggle
          color="accent"
          [checked]="defaultBandSettings.showLastClick"
          (change)="
            updateDefaultBandSettings.emit({
              update: { showLastClick: $event.checked }
            })
          "
        >
          Show Last Click
        </mat-slide-toggle>
      </div>

      <!-- Show Tooltip. -->
      <div class="field">
        <mat-slide-toggle
          color="accent"
          [checked]="defaultBandSettings.showTooltip"
          (change)="
            updateDefaultBandSettings.emit({
              update: { showTooltip: $event.checked }
            })
          "
        >
          Show Tooltip
        </mat-slide-toggle>
      </div>

      <!-- Default Activity Layout. -->
      <div class="field">
        <mat-form-field>
          <mat-select
            placeholder="Default Activity Layout"
            [value]="defaultBandSettings.activityLayout"
            (selectionChange)="
              updateDefaultBandSettings.emit({
                update: { activityLayout: $event.value }
              })
            "
          >
            <mat-option [value]="0">Auto-fit</mat-option>
            <mat-option [value]="1">Packed</mat-option>
            <mat-option [value]="2">Waterfall</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Default Label Font. -->
      <div class="field">
        <mat-form-field>
          <mat-select
            placeholder="Default Label Font"
            [value]="defaultBandSettings.labelFont"
            (selectionChange)="
              updateDefaultBandSettings.emit({
                update: { labelFont: $event.value }
              })
            "
          >
            <mat-option [value]="'Arial'">Arial</mat-option>
            <mat-option [value]="'Helvetica'">Helvetica</mat-option>
            <mat-option [value]="'Times New Roman'">Times New Roman</mat-option>
            <mat-option [value]="'Courier'">Courier</mat-option>
            <mat-option [value]="'Georgia'">Georgia</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Label Font Size. -->
      <div class="field">
        <label>Label Font Size</label>
        <input
          mat-input
          [value]="defaultBandSettings.labelFontSize"
          type="number"
          name="labelFontSize"
          step="1"
          min="6"
          max="30"
          (change)="onLabelFontSizeChange($event.target.valueAsNumber)"
        />
      </div>

      <!-- Default Resource Color. -->
      <div class="field">
        <label>Default Resource Color</label>
        <input
          type="color"
          [value]="defaultBandSettings.resourceColor"
          (input)="
            updateDefaultBandSettings.emit({
              update: { resourceColor: $event.target.value }
            })
          "
        />
      </div>

      <!-- Default Resource Fill Color. -->
      <div class="field">
        <label>Default Resource Fill Color</label>
        <input
          type="color"
          [value]="defaultBandSettings.resourceFillColor"
          (input)="
            updateDefaultBandSettings.emit({
              update: { resourceFillColor: $event.target.value }
            })
          "
        />
      </div>

      <!-- Default Icon. -->
      <div class="field">
        <mat-form-field>
          <mat-select
            placeholder="Default Icon"
            [value]="defaultBandSettings.icon"
            (selectionChange)="
              updateDefaultBandSettings.emit({ update: { icon: $event.value } })
            "
          >
            <mat-option [value]="''">None</mat-option>
            <mat-option [value]="'plus'">Plus</mat-option>
            <mat-option [value]="'cross'">Cross</mat-option>
            <mat-option [value]="'circle'">Circle</mat-option>
            <mat-option [value]="'triangle'">Triangle</mat-option>
            <mat-option [value]="'square'">Square</mat-option>
            <mat-option [value]="'diamond'">Diamond</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
