<seq-navbar
  *ngIf="commands$ | async"
  [openedTabs]="openedTabs$ | async"
  [editor]="editor"
  (createTab)="onCreateTab($event)"
  (closeTab)="onCloseTab($event)"
  (switchTab)="onSwitchTab($event)"
></seq-navbar>

<seq-editor
  [commands]="commands$ | async"
  [commandsByName]="commandsByName$ | async"
  [currentTab]="currentTab$ | async"
  [file]="(editor.currentTab && editor.openedTabs[editor.currentTab]) || null"
  (openHelpDialog)="onOpenEditorHelpDialog()"
  (updateTab)="onUpdateTab($event)"
>
</seq-editor>

<div *ngIf="!(currentTab$ | async)" id="no-files-message">
  <div id="no-files-message-text">
    <mat-card>
      <h1>No Files Opened</h1>
    </mat-card>
  </div>
</div>
