<seq-navbar
  *ngIf="commands$ | async"
  [isActive]="(activeEditor$ | async) === editor.id"
  [openedTabs]="openedTabs$ | async"
  [editor]="editor"
  [editorRef]="editorRef"
  (createTab)="onCreateTab($event)"
  (closeTab)="onCloseTab($event)"
  (switchTab)="onSwitchTab($event)"
></seq-navbar>

<seq-editor
  #editorRef
  [commands]="commands$ | async"
  [commandsByName]="commandsByName$ | async"
  [currentTab]="currentTab$ | async"
  [file]="getFile()"
  [editorState]="editor"
  [editorOptions]="editorOptions"
  (updateTab)="onUpdateTab($event)"
>
</seq-editor>

<div *ngIf="!(currentTab$ | async)" id="no-files-message">
  <div id="no-files-message-text">
    <mat-card>
      <h1>No Files Opened</h1>
    </mat-card>
  </div>
</div>
