:host {
  display: block;
}

.dataLabel {
  padding-top: 1em;
  font-weight: bold;
}

.dataValue {
  padding-left: 1em;
}

.parameters,
.metadata {
  padding-top: 1em;
}

.name {
  background-color: #dcdfe5;
}

.value {
  background-color: #dcdfe5;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  word-break: break-all;
  padding: 0.5em;
}
