<raven-app-header
  title="Planning"
  (menuClicked)="onToggleNavigationDrawer()">
  <button
    mat-button
    (click)="onShowCreatePlanForm()">
    <mat-icon>add</mat-icon> Plan
  </button>
  <button
    mat-icon-button
    matTooltip="Activity types list"
    (click)="onOpenActivityTypesDrawer()">
    <mat-icon aria-label="Activity types list">
      chrome_reader_mode
    </mat-icon>
  </button>
</raven-app-header>

<main class="content">
  <mat-progress-bar mode="indeterminate" *ngIf="showLoadingBar$ | async" color="accent">
  </mat-progress-bar>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav-content>
      <div class="page-header">
        <h1 class="mat-display-1">Planning Cycle:</h1>
        <raven-plan-selector
          [plans]="plans$ | async"
          [selectedPlan]="selectedPlan$ | async"
          (selectPlanClicked)="onSelectPlan($event)">
        </raven-plan-selector>
        <button
          #newActivity
          mat-raised-button
          color="accent"
          (click)="onClickNewActivity()"
          [disabled]="!(selectedPlan$ | async)">
          <mat-icon>add</mat-icon> Activity
        </button>
      </div>

      <div
        *ngIf="selectedPlan"
        class="plan-container">
        <div *ngIf="activities.length">
          <div class="plan-timeline">
            <nest-time-band
              [maxTimeRange]="maxTimeRange$ | async"
              [viewTimeRange]="viewTimeRange$ | async"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)"
            ></nest-time-band>

            <nest-activity-band
              [maxTimeRange]="maxTimeRange$ | async"
              [points]="activities"
              [selectedActivity]="selectedActivity$ | async"
              [viewTimeRange]="viewTimeRange$ | async"
              (selectActivity)="onSelectActivity($event)"
              (updateSelectedActivity)="onUpdateSelectedActivity($event)"
            ></nest-activity-band>
          </div>

          <div class="plan-table">
            <table mat-table [dataSource]="activities">
              <!--
                Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition.
              -->

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Activity Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef> Start Date and Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTimestamp}} </td>
              </ng-container>

              <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef> End Date and Time </th>
                <td mat-cell *matCellDef="let element"> {{element.endTimestamp}} </td>
              </ng-container>

              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns; let activity"
                (click)="onSelectActivity(row.activityId)"
                class="plan-table-row"
                [ngClass]="{
                  'highlight': selectedActivity && selectedActivity.activityId === activity.activityId
                }">
              </tr>
            </table>
          </div>
        </div>

        <div *ngIf="!activities.length">
          <p class="empty">This plan currently has no activities.</p>
        </div>
      </div>

      <div *ngIf="!selectedPlan">
        <p class="empty">Select a plan to view activities.</p>
      </div>
    </mat-sidenav-content>

    <mat-sidenav
      *ngIf="showActivityTypesDrawer$ | async"
      mode="side"
      position="end"
      [opened]="showActivityTypesDrawer$ | async"
      (closedStart)="onCloseActivityTypesDrawer()">
      <div class="side-nav-container">
        <div class="side-nav-wrapper">
          <div class="side-nav-header">
            <h2>Activity Types</h2>
            <button
              mat-icon-button
              (click)="onCloseActivityTypesDrawer()">
              <mat-icon aria-label="Clear">
                clear
              </mat-icon>
            </button>
          </div>

          <ng-container *ngIf="activityTypes$ | async as activityTypes">
            <raven-activity-type-list
              *ngIf="activityTypes && activityTypes.length"
              [activityTypes]="activityTypes">
            </raven-activity-type-list>

            <div
              *ngIf="!activityTypes || !activityTypes.length">
              <p class="empty">Select a plan to view activity types.</p>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav
      *ngIf="showEditActivityDrawer$ | async"
      mode="side"
      position="end"
      [opened]="showEditActivityDrawer$ | async"
      (closedStart)="onCloseEditActivityDrawer()">
      <div class="side-nav-container">
        <div class="side-nav-wrapper">
          <div class="side-nav-header">
            <h2>Activity</h2>
            <button
              mat-icon-button
              (click)="onCloseEditActivityDrawer()">
              <mat-icon aria-label="Clear">
                clear
              </mat-icon>
            </button>
          </div>

          <form
            [formGroup]="editActivityForm"
            (ngSubmit)="onSubmit(editActivityForm.value)">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Activity Type</mat-label>
              <mat-select
                placeholder="Select Activity Type"
                [formControl]="editActivityForm.controls['activityType']"
                [compareWith]="ngTemplateUtils.compareSelectValues"
                readonly>
                <mat-option
                  *ngFor="let activityType of activityTypes$ | async"
                  [value]="activityType.activityClass">
                  {{ activityType.activityClass }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Activity Name</mat-label>
              <input
                matInput
                placeholder="Activity Name"
                type="text"
                [formControl]="editActivityForm.controls['name']"
                required />
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Start</mat-label>
              <input
                matInput
                placeholder="Start time"
                type="text"
                [formControl]="editActivityForm.controls['start']"
                required />
              <mat-hint align="start">UTC within plan bounds</mat-hint>
              <mat-icon matSuffix>event</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Duration</mat-label>
              <input
                matInput
                placeholder="Duration"
                type="number"
                [formControl]="editActivityForm.controls['duration']"
                required />
              <mat-hint align="start">000</mat-hint>
              <mat-icon matSuffix>hourglass_empty</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Intent</mat-label>
              <textarea
                matInput
                placeholder="Add intent"
                [formControl]="editActivityForm.controls['intent']">
              </textarea>
              <mat-hint align="start">Optional</mat-hint>
            </mat-form-field>

            <div class="form-controls">
              <button
                mat-stroked-button
                color="primary"
                type="button"
                (click)="onShowActivityPage()">
                Advanced
              </button>
              <button mat-raised-button color="accent">Update</button>
            </div>
          </form>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</main>
