version: "3.7"
services:
  aerie-gateway:
    container_name: aerie-gateway
    depends_on: ["postgres"]
    environment:
      AUTH_TYPE: none
      GQL_API_URL: http://localhost:8080/v1/graphql
      LOG_FILE: console
      LOG_LEVEL: warn
      PORT: 9000
      POSTGRES_AERIE_MERLIN_DB: aerie_merlin
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: "${AERIE_PASSWORD}"
      POSTGRES_PORT: 5432
      POSTGRES_USER: "${AERIE_USERNAME}"
    image: "${REPOSITORY_DOCKER_URL}/aerie-gateway:${DOCKER_TAG}"
    ports: ["9000:9000"]
    restart: always
    volumes:
      - aerie_file_store:/app/files
  aerie-merlin:
    container_name: aerie-merlin
    depends_on: ["postgres"]
    environment:
      MERLIN_DB: "aerie_merlin"
      MERLIN_DB_PASSWORD: "${AERIE_PASSWORD}"
      MERLIN_DB_PORT: 5432
      MERLIN_DB_SERVER: postgres
      MERLIN_DB_USER: "${AERIE_USERNAME}"
      MERLIN_LOCAL_STORE: /usr/src/app/merlin_file_store
      MERLIN_PORT: 27183
      JAVA_OPTS: >
        -Dorg.slf4j.simpleLogger.defaultLogLevel=WARN
        -Dorg.slf4j.simpleLogger.logFile=System.err
      UNTRUE_PLAN_START: "2000-01-01T11:58:55.816Z"
    image: "${REPOSITORY_DOCKER_URL}/aerie-merlin:${DOCKER_TAG}"
    ports: ["27183:27183"]
    restart: always
    volumes:
      - aerie_file_store:/usr/src/app/merlin_file_store
  aerie-merlin-worker-1:
    container_name: aerie-merlin-worker-1
    depends_on: ["postgres"]
    environment:
      MERLIN_WORKER_DB: "aerie_merlin"
      MERLIN_WORKER_DB_PASSWORD: "${AERIE_PASSWORD}"
      MERLIN_WORKER_DB_PORT: 5432
      MERLIN_WORKER_DB_SERVER: postgres
      MERLIN_WORKER_DB_USER: "${AERIE_USERNAME}"
      MERLIN_WORKER_LOCAL_STORE: /usr/src/app/merlin_file_store
      JAVA_OPTS: >
        -Dorg.slf4j.simpleLogger.defaultLogLevel=INFO
        -Dorg.slf4j.simpleLogger.log.com.zaxxer.hikari=WARN
        -Dorg.slf4j.simpleLogger.logFile=System.err
      UNTRUE_PLAN_START: "2000-01-01T11:58:55.816Z"
    image: "${REPOSITORY_DOCKER_URL}/aerie-merlin-worker:${DOCKER_TAG}"
    ports: ["27187:8080"]
    restart: always
    volumes:
      - aerie_file_store:/usr/src/app/merlin_file_store:ro
  aerie-scheduler:
    container_name: aerie-scheduler
    depends_on: ["aerie-merlin", "postgres"]
    environment:
      MERLIN_GRAPHQL_URL: http://hasura:8080/v1/graphql
      SCHEDULER_DB: "aerie_scheduler"
      SCHEDULER_DB_PASSWORD: "${AERIE_PASSWORD}"
      SCHEDULER_DB_PORT: 5432
      SCHEDULER_DB_SERVER: postgres
      SCHEDULER_DB_USER: "${AERIE_USERNAME}"
      SCHEDULER_PORT: 27185
      JAVA_OPTS: >
        -Dorg.slf4j.simpleLogger.defaultLogLevel=WARN
        -Dorg.slf4j.simpleLogger.logFile=System.err
    image: "${REPOSITORY_DOCKER_URL}/aerie-scheduler:${DOCKER_TAG}"
    ports: ["27185:27185"]
    restart: always
    volumes:
      - aerie_file_store:/usr/src/app/merlin_file_store
  aerie-scheduler-worker-1:
    container_name: aerie-scheduler-worker-1
    depends_on: ["postgres"]
    environment:
      MERLIN_GRAPHQL_URL: http://hasura:8080/v1/graphql
      SCHEDULER_WORKER_DB: "aerie_scheduler"
      SCHEDULER_WORKER_DB_PASSWORD: "${AERIE_PASSWORD}"
      SCHEDULER_WORKER_DB_PORT: 5432
      SCHEDULER_WORKER_DB_SERVER: postgres
      SCHEDULER_WORKER_DB_USER: "${AERIE_USERNAME}"
      SCHEDULER_OUTPUT_MODE: UpdateInputPlanWithNewActivities
      MERLIN_LOCAL_STORE: /usr/src/app/merlin_file_store
      SCHEDULER_RULES_JAR: /usr/src/app/merlin_file_store/scheduler_rules.jar
      JAVA_OPTS: >
        -Dorg.slf4j.simpleLogger.log.com.zaxxer.hikari=INFO
        -Dorg.slf4j.simpleLogger.logFile=System.err
    image: "${REPOSITORY_DOCKER_URL}/aerie-scheduler-worker:${DOCKER_TAG}"
    ports: ["27189:8080"]
    restart: always
    volumes:
      - aerie_file_store:/usr/src/app/merlin_file_store:ro
  aerie-sequencing:
    container_name: aerie-sequencing
    depends_on: ["postgres"]
    environment:
      LOG_FILE: console
      LOG_LEVEL: warn
      MERLIN_GRAPHQL_URL: http://hasura:8080/v1/graphql
      SEQUENCING_SERVER_PORT: 27184
      SEQUENCING_DB: aerie_sequencing
      SEQUENCING_DB_PASSWORD: "${AERIE_PASSWORD}"
      SEQUENCING_DB_PORT: 5432
      SEQUENCING_DB_SERVER: postgres
      SEQUENCING_DB_USER: "${AERIE_USERNAME}"
      SEQUENCING_LOCAL_STORE: /usr/src/app/sequencing_file_store
    image: "${REPOSITORY_DOCKER_URL}/aerie-sequencing:${DOCKER_TAG}"
    ports: ["27184:27184"]
    restart: always
    volumes:
      - aerie_file_store:/usr/src/app/sequencing_file_store
  aerie-ui:
    container_name: aerie-ui
    depends_on: ["postgres"]
    environment:
      ORIGIN: http://localhost
      PUBLIC_AUTH_TYPE: none
      PUBLIC_GATEWAY_CLIENT_URL: http://localhost:9000
      PUBLIC_GATEWAY_SERVER_URL: http://aerie-gateway:9000
      PUBLIC_HASURA_CLIENT_URL: http://localhost:8080/v1/graphql
      PUBLIC_HASURA_SERVER_URL: http://hasura:8080/v1/graphql
      PUBLIC_HASURA_WEB_SOCKET_URL: ws://localhost:8080/v1/graphql
    image: "${REPOSITORY_DOCKER_URL}/aerie-ui:${DOCKER_TAG}"
    ports: ["80:80"]
    restart: always
  hasura:
    container_name: hasura
    depends_on: ["postgres"]
    environment:
      AERIE_MERLIN_DATABASE_URL: "postgres://${AERIE_USERNAME}:${AERIE_PASSWORD}@postgres:5432/aerie_merlin"
      AERIE_SCHEDULER_DATABASE_URL: "postgres://${AERIE_USERNAME}:${AERIE_PASSWORD}@postgres:5432/aerie_scheduler"
      AERIE_SEQUENCING_DATABASE_URL: "postgres://${AERIE_USERNAME}:${AERIE_PASSWORD}@postgres:5432/aerie_sequencing"
      AERIE_UI_DATABASE_URL: "postgres://${AERIE_USERNAME}:${AERIE_PASSWORD}@postgres:5432/aerie_ui"
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_LOG_LEVEL: warn
      HASURA_GRAPHQL_METADATA_DATABASE_URL: "postgres://${AERIE_USERNAME}:${AERIE_PASSWORD}@postgres:5432/aerie_hasura"
      HASURA_GRAPHQL_METADATA_DIR: /hasura-metadata
    image: "hasura/graphql-engine:v2.12.1.cli-migrations-v3"
    ports: ["8080:8080"]
    restart: always
    volumes:
      - ./hasura/metadata:/hasura-metadata
  postgres:
    container_name: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_USER: "${POSTGRES_USER}"
      AERIE_USERNAME: "${AERIE_USERNAME}"
      AERIE_PASSWORD: "${AERIE_PASSWORD}"
    image: postgres:14.1
    ports: ["5432:5432"]
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init-db:/docker-entrypoint-initdb.d

volumes:
  aerie_file_store:
  mission_file_store:
  postgres_data:
