<nest-app-header
  [title]="'Planning Cycle: ' + (selectedPlan$ | async)?.name"
  contextual="true"
  (menuClicked)="onNavBack()"
>
  <button mat-button (click)="onToggleAddActivityDrawer()">
    <mat-icon>add</mat-icon> Activity
  </button>

  <button
    mat-icon-button
    matTooltip="Activity types list"
    (click)="onToggleActivityTypesDrawer()"
  >
    <mat-icon aria-label="Activity types list">
      chrome_reader_mode
    </mat-icon>
  </button>
</nest-app-header>

<main>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="(planningService.showLoadingBar$ | async)"
    color="accent"
  >
  </mat-progress-bar>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav-content>
      <mat-tab-group>
        <mat-tab label="Activities">
          <ng-template matTabContent>
            <div class="tab">
              <div *ngIf="(activities$ | async).length">
                <activity-table
                  [activities]="activities$ | async"
                  [activity]="selectedActivity$ | async"
                  (deleteActivity)="onDeleteActivity($event)"
                  (editActivity)="onEditActivity($event)"
                  (selectActivity)="onSelectActivity($event)"
                ></activity-table>
              </div>

              <mat-card *ngIf="!(activities$ | async).length">
                This plan currently has no activities.
              </mat-card>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Schedule & Resources">
          <ng-template matTabContent>
            <div class="tab">
              <plan-schedule></plan-schedule>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Plan Constraints">
          <ng-template matTabContent>
            <div class="tab">
              <mat-card>This plan has no constraints.</mat-card>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>

    <mat-sidenav
      *ngIf="(showActivityTypesDrawer$ | async)"
      class="activity-types-sidenav"
      mode="side"
      position="end"
      [opened]="showActivityTypesDrawer$ | async"
      (closedStart)="onToggleActivityTypesDrawer(false)"
    >
      <div class="side-nav-container">
        <div class="side-nav-wrapper">
          <div class="side-nav-header">
            <h2>Activity Types</h2>
            <button
              mat-icon-button
              (click)="onToggleActivityTypesDrawer(false)"
            >
              <mat-icon aria-label="Clear">
                clear
              </mat-icon>
            </button>
          </div>

          <ng-container *ngIf="(activityTypes$ | async) as activityTypes">
            <activity-type-list
              *ngIf="activityTypes && activityTypes.length"
              [activityTypes]="activityTypes"
            >
            </activity-type-list>

            <div *ngIf="!activityTypes || !activityTypes.length">
              There are currently no activity types.
            </div>
          </ng-container>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav
      *ngIf="(showAddActivityDrawer$ | async)"
      mode="side"
      position="end"
      [opened]="showAddActivityDrawer$ | async"
      (closedStart)="onToggleAddActivityDrawer(false)"
    >
      <div class="side-nav-container">
        <div class="side-nav-wrapper">
          <div class="side-nav-header">
            <h2>Add Activity</h2>
            <button mat-icon-button (click)="onToggleAddActivityDrawer(false)">
              <mat-icon aria-label="Clear">
                clear
              </mat-icon>
            </button>
          </div>

          <activity-form
            [activityTypes]="activityTypes$ | async"
            [isNew]="true"
            (clickAdvanced)="navigateToNewActivityPage()"
            (createActivity)="onCreateActivity($event)"
          ></activity-form>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav
      *ngIf="(showEditActivityDrawer$ | async)"
      mode="side"
      position="end"
      [opened]="showEditActivityDrawer$ | async"
      (closedStart)="onCloseEditActivityDrawer()"
    >
      <div class="side-nav-container">
        <div class="side-nav-wrapper">
          <div class="side-nav-header">
            <h2>Edit Activity</h2>
            <button mat-icon-button (click)="onCloseEditActivityDrawer()">
              <mat-icon aria-label="Clear">
                clear
              </mat-icon>
            </button>
          </div>

          <activity-form
            [activity]="selectedActivity$ | async"
            [activityTypes]="activityTypes$ | async"
            [isNew]="false"
            (clickAdvanced)="onSelectActivity($event)"
            (updateActivity)="onUpdateActivity($event)"
          ></activity-form>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</main>
