<mat-table [dataSource]="plans" class="mat-elevation-z2">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Plan </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="selectPlan.emit(element.id)">
      {{ element.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="adaptationId">
    <mat-header-cell *matHeaderCellDef> Adaptation Id </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="selectPlan.emit(element.id)">
      {{ element.adaptationId }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startTimestamp">
    <mat-header-cell *matHeaderCellDef> Plan Start </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="selectPlan.emit(element.id)">
      {{ element.startTimestamp }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endTimestamp">
    <mat-header-cell *matHeaderCellDef> Plan End </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="selectPlan.emit(element.id)">
      {{ element.endTimestamp }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" class="option-group">
      <button
        class="option"
        mat-icon-button
        color="primary"
        (click)="selectPlan.emit(element.id)"
      >
        <mat-icon aria-label="Open Plan">
          open_in_browser
        </mat-icon>
      </button>
      <button
        class="option"
        mat-icon-button
        color="primary"
        (click)="deletePlan.emit(element.id)"
      >
        <mat-icon aria-label="Delete Plan">
          delete
        </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
