/* NOTE: external styles should be defined in angular.json and karma.js,
   or you will get 404s on them in the tests. */

@import '~ng-pick-datetime/assets/style/picker.min.css';

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('./assets/fonts/roboto-v19-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v19-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./assets/fonts/roboto-v19-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: bold;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./assets/fonts/roboto-v19-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

* {
  box-sizing: border-box;
}

app-root {
  display: block;
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ag-theme-fresh .ag-row-selected {
  background-color: #fffe0d;
}

.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: relative;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.toast-container {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Override default CodeMirror class so we can have auto resizing. */
/* https://codemirror.net/demo/resize.html */
.CodeMirror {
  height: 100%;
}

.mat-drawer-side {
  z-index: 1 !important;
}
