:host {
  background-color: white;
  border: 1px solid #999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  z-index: 5;
}
