<mat-card>
  <mat-card-content>
    <div
      id="raven-settings-selected-band"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutWrap>
      <!-- Selected Sub Band. -->
      <div
        *ngIf="bandsById[selectedBandId].subBands.length > 1"
        class="field">
        <mat-form-field class="full-width">
          <mat-select
            [value]="selectedSubBandId"
            (selectionChange)="updateTimeline.emit({ update: { selectedSubBandId: $event.value } })"
            placeholder="Selected Sub-Band">
            <ng-container *ngFor="let subBand of bandsById[selectedBandId].subBands; trackBy: trackByFn">
              <mat-option [value]="subBand.id">{{subBand.label}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <ng-container *ngFor="let subBand of bandsById[selectedBandId].subBands; trackBy: trackByFn">
        <ng-container *ngIf="subBand.id === selectedSubBandId">
          <!-- Label -->
          <div class="field">
            <mat-form-field class="full-width">
              <input
                id="raven-settings-label"
                matInput
                placeholder="Label"
                [value]="subBand.label"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { label: $event.target.value } })">
            </mat-form-field>
          </div>

          <!-- Resource Band Settings for Label Unit and Show Label Unit. -->
          <ng-container *ngIf="subBand.type === 'resource'">
            <!-- Label Unit. -->
            <div class="field">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Unit Label"
                  [value]="subBand.labelUnit"
                  (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { labelUnit: $event.target.value } })">
              </mat-form-field>
            </div>

            <!-- Composite Y-axis. -->
            <div
              *ngIf="containsMultipleResourceBands()"
              class="field">
              <mat-slide-toggle
                color="primary"
                [checked]="bandsById[selectedBandId].compositeYAxisLabel"
                (change)="updateBand.emit({ bandId: selectedBandId, update: { compositeYAxisLabel: $event.checked } })">
                Composite Y-axis Label
               </mat-slide-toggle>
            </div>

            <!-- Show Label Unit. -->
            <div class="field">
              <mat-slide-toggle
                color="primary"
                [checked]="subBand.showLabelUnit"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { showLabelUnit: $event.checked } })">
                Show Unit Label
              </mat-slide-toggle>
            </div>
          </ng-container>

          <!-- Show Label Pin. -->
          <div class="field">
            <mat-slide-toggle
              color="primary"
              [checked]="subBand.showLabelPin"
              (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { showLabelPin: $event.checked } })">
              Show Pin Label
            </mat-slide-toggle>
          </div>

          <!-- Overlay (applies to all sub-bands). -->
          <div class="field">
            <mat-slide-toggle
              id="raven-settings-overlay"
              color="primary"
              [checked]="bandsById[selectedBandId].overlay"
              (change)="updateBand.emit({ bandId: selectedBandId, update: { overlay: $event.checked } })">
              Overlay
            </mat-slide-toggle>
          </div>

          <!-- Height (applies to all sub-bands). -->
          <div class="field">
            <label>Height</label>
            <input
              mat-input
              [value]="bandsById[selectedBandId].height"
              type="number"
              name="height"
              step="1"
              min="5"
              max="500"
              (change)="updateBandAndSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { height: $event.target.valueAsNumber } })">
          </div>

          <!-- Activity Settings. -->
          <ng-container *ngIf="subBand.type === 'activity'">
            <!-- Activity Style. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  placeholder="Activity Style"
                  [value]="subBand.activityStyle"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { activityStyle: $event.value } })">
                  <mat-option [value]="1">Bar</mat-option>
                  <mat-option [value]="3">Icon</mat-option>
                  <mat-option [value]="2">Line</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Align Label. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  placeholder="Horizontally Align Label"
                  [value]="subBand.alignLabel"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { alignLabel: $event.value } })">
                  <mat-option [value]="1">Left</mat-option>
                  <mat-option [value]="3">Center</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Baseline Label. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  placeholder="Vertically Align Label"
                  [value]="subBand.baselineLabel"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
                  <mat-option [value]="1">Top</mat-option>
                  <mat-option [value]="2">Bottom</mat-option>
                  <mat-option [value]="3">Center</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Layout. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  id="raven-settings-layout"
                  placeholder="Layout"
                  [value]="subBand.layout"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { layout: $event.value } })">
                  <mat-option [value]="0">Auto-fit</mat-option>
                  <mat-option [value]="1">Packed</mat-option>
                  <mat-option [value]="2">Waterfall</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Show Activity Times. -->
            <div class="field">
              <mat-slide-toggle
                id="raven-settings-show-activity-times"
                color="primary"
                [checked]="subBand.showActivityTimes"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { showActivityTimes: $event.checked } })">
                Show Activity Times
              </mat-slide-toggle>
            </div>

            <!-- Show Label. -->
            <div class="field">
              <mat-slide-toggle
                id="raven-settings-show-label"
                color="primary"
                [checked]="subBand.showLabel"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { showLabel: $event.checked } })">
                Show Labels
              </mat-slide-toggle>
            </div>

            <!-- Add To. -->
            <div class="field">
              <mat-slide-toggle
                id="raven-settings-add-to"
                color="primary"
                [checked]="subBand.addTo"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { addTo: $event.checked } })">
                Add To
              </mat-slide-toggle>
            </div>
          </ng-container>

          <!-- Resource Settings. -->
          <ng-container *ngIf="subBand.type === 'resource'">
            <!-- Composite Y-axis Auto Scale. -->
            <div
              *ngIf="bandsById[selectedBandId].compositeYAxisLabel"
              class="field">
              <mat-slide-toggle
                color="primary"
                [checked]="bandsById[selectedBandId].compositeAutoScale"
                (change)="updateBand.emit({ bandId: selectedBandId, update: { compositeAutoScale: $event.checked } })">
                Composite Auto Scale
               </mat-slide-toggle>
            </div>

            <!-- Auto Scale. -->
            <div
              *ngIf="!bandsById[selectedBandId].compositeYAxisLabel"
              class="field">
              <mat-slide-toggle
                id="raven-settings-auto-scale"
                color="primary"
                [checked]="subBand.autoScale"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { autoScale: $event.checked } })">
                Auto Scale
              </mat-slide-toggle>
            </div>

            <!-- Line Color. -->
            <div class="field">
              <label>Line Color</label>
              <input
                type="color"
                [value]="subBand.color"
                (input)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { color: $event.target.value } })">
            </div>

            <!-- Fill. -->
            <div class="field">
              <mat-slide-toggle
                id="raven-settings-fill"
                color="primary"
                [checked]="subBand.fill"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { fill: $event.checked } })">
                Fill
              </mat-slide-toggle>
            </div>

            <!-- Fill Color. -->
            <div class="field">
              <label>Fill Color</label>
              <input
                type="color"
                [value]="subBand.fillColor"
                (input)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { fillColor: $event.target.value } })">
            </div>

            <!-- Interpolation. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  id="raven-settings-interpolation"
                  placeholder="Interpolation"
                  [value]="subBand.interpolation"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { interpolation: $event.value } })">
                  <mat-option value="linear">Linear</mat-option>
                  <mat-option value="constant">Constant</mat-option>
                  <mat-option value="none">None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Show Icon. -->
            <div class="field">
              <mat-slide-toggle
                id="raven-settings-show-icon"
                color="primary"
                [checked]="subBand.showIcon"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { showIcon: $event.checked } })">
                Show Icon
              </mat-slide-toggle>
            </div>
          </ng-container>

          <!-- State Settings. -->
          <ng-container *ngIf="subBand.type === 'state'">
            <!-- Align Label. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  id="raven-settings-align-label"
                  placeholder="Horizontally Align Label"
                  [value]="subBand.alignLabel"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { alignLabel: $event.value } })">
                  <mat-option [value]="1">Left</mat-option>
                  <mat-option [value]="3">Center</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Baseline Label. -->
            <div class="field">
              <mat-form-field>
                <mat-select
                  id="raven-settings-baseline-label"
                  placeholder="Vertically Align Label"
                  [value]="subBand.baselineLabel"
                  (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { baselineLabel: $event.value } })">
                  <mat-option [value]="1">Top</mat-option>
                  <mat-option [value]="2">Bottom</mat-option>
                  <mat-option [value]="3">Center</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Show State Change Times. -->
            <div class="field">
              <mat-slide-toggle
                id="raven-settings-show-state-change-times"
                color="primary"
                [checked]="subBand.showStateChangeTimes"
                (change)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { showStateChangeTimes: $event.checked } })">
                Show State Change Times
              </mat-slide-toggle>
            </div>
          </ng-container>

          <!-- Icon. -->
          <div *ngIf="subBand.type !== 'state'"
            class="field">
            <mat-form-field>
              <mat-select
                placeholder="Default Icon"
                [value]="subBand.icon"
                (selectionChange)="updateSubBand.emit({ bandId: selectedBandId, subBandId: subBand.id, update: { icon: $event.value } })">
                <mat-option [value]="''">None</mat-option>
                <mat-option [value]="'plus'">Plus</mat-option>
                <mat-option [value]="'cross'">Cross</mat-option>
                <mat-option [value]="'circle'">Circle</mat-option>
                <mat-option [value]="'triangle'">Triangle</mat-option>
                <mat-option [value]="'square'">Square</mat-option>
                <mat-option [value]="'diamond'">Diamond</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Delete Sub-Band. -->
          <div class="field">
            <button
              id="raven-settings-delete-band"
              mat-raised-button
              color="warn"
              (click)="deleteSubBand.emit(subBand)">
              Delete Band
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
