<!-- Pin Add. -->
<div *ngIf="data.type === 'add'">
  <div mat-dialog-content>
    <div class="pin-add">
      Add Pin
    </div>

    <div class="container">
      <mat-form-field>
        <input
          [formControl]="name"
          matInput
          placeholder="Name"
          required>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onAdd()" [disabled]="!name.valid">Add</button>
  </div>
</div>

<!-- Pin Remove. -->
<div *ngIf="data.type === 'remove'">
  <div mat-dialog-content>
    <div class="pin-remove">
      Remove Pin
    </div>

    <div class="container">
      Are you sure you want to remove this pin?
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onRemove()">Remove</button>
  </div>
</div>

<!-- Pin Rename. -->
<div *ngIf="data.type === 'rename'">
  <div mat-dialog-content>
    <div class="pin-rename">
      Rename Pin
    </div>

    <div class="container">
      <mat-form-field>
        <input
          [formControl]="name"
          matInput
          placeholder="Name"
          required>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onRename()" [disabled]="!name.valid">Rename</button>
  </div>
</div>
