<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Id</mat-label>
    <input
      matInput
      [disabled]="true"
      [readonly]="true"
      [value]="activityInstance.id"
    />
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Activity Type</mat-label>
    <input formControlName="type" matInput />
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Start Date</mat-label>
    <input
      [required]="true"
      autocomplete="off"
      formControlName="startTimestamp"
      matInput
      type="text"
      placeholder="YYYY-DDDThh:mm:ss"
    />
    <mat-error *ngIf="form.controls.startTimestamp.invalid">
      You must enter a start date/time
    </mat-error>
  </mat-form-field>

  <div class="pb-4" *ngIf="formParameters?.controls.length">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Parameters
          </mat-panel-title>
          <mat-panel-description>
            Override default parameters
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          formArrayName="parameters"
          *ngFor="let parameter of formParameters?.controls; let i = index"
        >
          <mat-form-field [formGroupName]="i" class="w-100">
            <mat-label>{{ parameter.value.name }}</mat-label>
            <input
              autocomplete="off"
              formControlName="value"
              matInput
              type="text"
              [value]="parameter.value.value"
            />
            <mat-hint>type: {{ parameter.value.type }}</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <button
    class="mr-2"
    mat-raised-button
    color="accent"
    [disabled]="!form.valid"
  >
    Update
  </button>

  <button
    type="button"
    class="mr-2"
    mat-raised-button
    color="warn"
    (click)="onDelete()"
  >
    Delete
  </button>
</form>
