/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */

:host {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.icon {
  font-size: 15px;
}
.spacer {
  flex: 1 1 auto;
}

.timeline-container {
  flex: 1 0 auto;
  position: relative;
}

.timeline {
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.progress-container {
  display: block;
  flex: 0 0 3px;
  margin-top: -3px;
}

.name {
  font-size: 9px;
  padding-right: 10px;
}

mat-progress-bar {
  height: 3px;
  z-index: 10;
}

.collapsed {
  position: static !important;
}

.manage-graph {
  background-color: aliceblue;
  height: 14px;
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  margin-top: -3px;
  z-index: 1;
}
