<raven-app-header title="Sequencing" (menuClicked)="onMenuClicked()">
</raven-app-header>

<main>
  <raven-seq-editor
    [commands]="commands$ | async"
    [commandsByName]="commandsByName$ | async"
    [value]="text$ | async"
    (cursorLineChanged)="onCursorLineChanged($event)"
    (valueChanged)="onValueChanged($event)"
  ></raven-seq-editor>
</main>
<aside>
  <hb-command-loader
    [selectedId]="selectedDictionaryId$ | async"
    [dictionaries]="dictionaries$ | async"
    (selectedDictionaryChanged)="onSelectedDictionary($event)">
  </hb-command-loader>
  <hb-command-list
    [commands]="commands$ | async"
    (selectedCommandChanged)="onSelectedCommand($event)">
  </hb-command-list>
</aside>
