:host {
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

div.label,
div.value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label {
  font-size: 15px;
  font-weight: bold;
}

.pad-top {
  padding-top: 1em;
}

.value {
  padding-left: 1em;
}

.parameters,
.metadata {
  padding-top: 1em;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  background-color: #dcdfe5;
  padding: 0.5em;
  word-break: break-all;
}
