:host {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-gap: 1rem;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 50px;
  margin: 0 1.5rem;
  min-height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.content {
  height: 100%;
  width: 100%;
}

.mat-toolbar {
  background-color: #039be5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

hb-command-loader,
hb-command-list {
  display: block;
  margin-bottom: 1.5rem;
}
