<mat-card>
  <mat-card-title>
    Epochs
  </mat-card-title>

  <mat-card-content>
    <!-- Day Code. -->
    <mat-form-field>
      <input
        matInput
        (keyup)="
          updateEpochSetting.emit({ update: { dayCode: $event.target.value } })
        "
        [value]="dayCode"
        placeholder="Day Code"
      />
      <mat-hint>e.g. 'Sol' for Mars or 'D' for Earth day</mat-hint>
    </mat-form-field>

    <!-- Earth Sec to Epoch Sec. -->
    <mat-form-field>
      <input
        matInput
        type="number"
        min="0"
        [formControl]="epochSecControl"
        [value]="earthSecToEpochSec"
        placeholder="Earth Sec to Epoch Sec"
        (change)="
          conditionalUpdateEpochSetting(!epochSecControl.invalid, {
            update: { earthSecToEpochSec: $event.target.valueAsNumber }
          })
        "
      />
    </mat-form-field>

    <!-- Table. -->
    <ag-grid-angular
      #agGrid
      class="ag-theme-fresh"
      [columnDefs]="columnDefs"
      [enableColResize]="true"
      [enableSorting]="true"
      [enableFilter]="true"
      [rowData]="epochs"
      [rowSelection]="rowSelection"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>

    <div class="form-control">
      <button id="add-button" mat-raised-button (click)="onRemoveSelected()">
        Remove Selected
      </button>
      <button id="remove-button" mat-raised-button (click)="onAddRow()">
        Add
      </button>
      <button
        *ngIf="epochsModified && projectEpochsUrl !== ''"
        id="save-button"
        mat-raised-button
        (click)="updateProjectEpochs.emit()"
      >
        Update Project Epochs
      </button>
      <button
        *ngIf="epochsModified && epochs.length > 0"
        id="save-as-button"
        mat-raised-button
        (click)="saveNewEpochFile.emit()"
      >
        Save As
      </button>
    </div>
  </mat-card-content>
</mat-card>
