<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <h2 mat-dialog-title>{{ modeText }} Activity Type</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput placeholder="id1" type="text" [formControl]="form.controls['id']"
        required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Activity Type Name" type="text"
        [formControl]="form.controls['name']" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Start</mat-label>
      <input matInput placeholder="Start time" type="text" [formControl]="form.controls['start']"
        required />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="accent" (click)="onCancel()">Cancel</button>
    <button mat-button color="accent">Save</button>
  </mat-dialog-actions>
</form>
