<mat-toolbar color="primary">
  <span *ngIf="!plan">Plan</span>
  <span *ngIf="plan">Plan: {{ plan.name }}</span>

  <div class="mat-toolbar-right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="toggleMenu">
        <mat-icon>remove_red_eye</mat-icon>
        Toggle Visible Panels
      </button>
    </mat-menu>

    <mat-menu #toggleMenu="matMenu">
      <button mat-menu-item (click)="togglePanelVisible('activityTypes')">
        <span>Activity Types</span>
      </button>
      <button
        mat-menu-item
        (click)="togglePanelVisible('createActivityInstance')"
      >
        <span>Create Activity Instance</span>
      </button>
      <button mat-menu-item (click)="togglePanelVisible('activityInstances')">
        <span> Activity Instances</span>
      </button>
      <button
        mat-menu-item
        (click)="togglePanelVisible('selectedActivityInstance')"
      >
        <span>Selected Activity Instance</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<as-split [gutterSize]="4">
  <as-split-area
    [order]="panels.activityTypes.order"
    [size]="panels.activityTypes.size"
    [visible]="panels.activityTypes.visible"
  >
    <app-panel-header>
      Activity Types
    </app-panel-header>
    <div class="p-1">
      <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
      <app-activity-type-list
        *ngIf="activityTypes !== null"
        [activityTypes]="activityTypes"
      ></app-activity-type-list>
    </div>
  </as-split-area>

  <as-split-area
    [order]="panels.createActivityInstance.order"
    [size]="panels.createActivityInstance.size"
    [visible]="panels.createActivityInstance.visible"
  >
    <app-panel-header>
      Create Activity Instance
    </app-panel-header>
    <div class="p-1">
      <app-placeholder *ngIf="activityTypes === null"></app-placeholder>
      <mat-card *ngIf="activityTypes !== null">
        <app-create-activity-instance-form
          [activityTypes]="activityTypes"
          [activityTypesMap]="activityTypesMap"
          (create)="onCreateActivityInstance($event)"
        ></app-create-activity-instance-form>
      </mat-card>
    </div>
  </as-split-area>

  <as-split-area
    [order]="panels.activityInstances.order"
    [size]="panels.activityInstances.size"
    [visible]="panels.activityInstances.visible"
  >
    <app-panel-header>
      Activity Instances
    </app-panel-header>
    <div class="p-1">
      <app-placeholder *ngIf="activityInstances === null"></app-placeholder>
      <ng-container *ngIf="activityInstances !== null">
        <mat-card *ngIf="!activityInstances.length">
          This plan has no activity instances.
        </mat-card>

        <table
          *ngIf="activityInstances.length"
          [dataSource]="activityInstances"
          mat-table
          class="w-100 mat-elevation-z1"
        >
          <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox
                matTooltip="Select Activity Instance"
                [checked]="selection.isSelected(element)"
                (click)="$event.stopPropagation()"
                (change)="onSelectActivityInstance(element)"
              ></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type }}
            </td>
          </ng-container>

          <ng-container matColumnDef="startTimestamp">
            <th mat-header-cell *matHeaderCellDef>Start Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.startTimestamp }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onSelectActivityInstance(row)"
            (contextmenu)="onContextMenu($event, row)"
          ></tr>
        </table>

        <div
          style="visibility: hidden; position: fixed;"
          [style.left]="contextMenuPosition.x"
          [style.top]="contextMenuPosition.y"
          [matMenuTriggerFor]="contextMenu"
          #contextMenuTrigger="matMenuTrigger"
        ></div>
        <mat-menu #contextMenu="matMenu">
          <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="onDeleteActivityInstance(item.id)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </button>
          </ng-template>
        </mat-menu>
      </ng-container>
    </div>
  </as-split-area>

  <as-split-area
    [order]="panels.selectedActivityInstance.order"
    [size]="panels.selectedActivityInstance.size"
    [visible]="panels.selectedActivityInstance.visible"
  >
    <app-panel-header>
      Selected Activity Instance
    </app-panel-header>
    <div class="p-1">
      <mat-card *ngIf="selectedActivityInstance; else elseBlock">
        <app-update-activity-instance-form
          [activityInstance]="selectedActivityInstance"
          [activityTypesMap]="activityTypesMap"
          (delete)="onDeleteActivityInstance($event)"
          (update)="onUpdateActivityInstance($event)"
        ></app-update-activity-instance-form>
      </mat-card>
      <ng-template #elseBlock>
        <mat-card>No Activity Instance Selected.</mat-card>
      </ng-template>
    </div>
  </as-split-area>
</as-split>
