<div class="file-metadata">
  <mat-card>
    <mat-card-title>
      File Metadata
    </mat-card-title>

    <mat-card-content>
      <table>
        <tr>
          <td>Filename:</td>
          <td>{{ name }}</td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>{{ fileMetadata.fileType }}</td>
        </tr>
        <tr>
          <td>Created By:</td>
          <td>{{ fileMetadata.createdBy }}</td>
        </tr>
        <tr>
          <td>Created On:</td>
          <td>{{ fileMetadata.createdOn }}</td>
        </tr>
        <tr>
          <td>Last modified:</td>
          <td>{{ fileMetadata.lastModified }}</td>
        </tr>
        <tr>
          <td>Permissions:</td>
          <td>{{ fileMetadata.permissions }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="fileMetadata.customMetadata" class="custom-metadata">
  <mat-card>
    <mat-card-title>
      Custom Metadata
    </mat-card-title>

    <mat-card-content>
      <raven-custom-metadata [customMetadata]="fileMetadata.customMetadata">
      </raven-custom-metadata>
    </mat-card-content>
  </mat-card>
</div>
