:host {
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.container > * {
  width: 100%;
}

.center {
  justify-content: center;
  text-align: center;
  word-break: break-all;
  word-wrap: break-word;
}
