<split
  direction="horizontal"
  (dragEnd)="onDragEnd()">
  <split-area
    [visible]="showLeftDrawer$ | async"
    [order]="0"
    size="25">
    <app-source-explorer></app-source-explorer>
  </split-area>

  <split-area
    [order]="1"
    size="75">
    <split
      direction="vertical"
      (dragEnd)="onDragEnd()">
      <split-area
        [order]="2"
        size="50">
        <div
          *ngIf="itarMessage !== ''"
          class="itar-message">
          <mat-card>
            {{itarMessage}}
          </mat-card>
        </div>

        <div
          id="get-started-message"
          *ngIf="bands.length === 0"
          class="get-started">
          <mat-card>
            To get started, select some <i class="fa fa-area-chart" style="color: #17a923" aria-hidden="true"></i> Data Sources from the source explorer.
          </mat-card>
        </div>

        <div
          id="raven-timeline"
          *ngIf="bands.length > 0"
          class="timeline">
          <mat-card>
            <falcon-time-range-selector
              [maxTimeRange]="maxTimeRange"
              [viewTimeRange]="viewTimeRange">
            </falcon-time-range-selector>

            <falcon-time-scroll-bar
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [viewTimeRange]="viewTimeRange">
            </falcon-time-scroll-bar>

            <falcon-time-band
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [viewTimeRange]="viewTimeRange">
            </falcon-time-band>

            <raven-bands
              [bands]="bands"
              id="raven-bands-0"
              [containerId]="'0'"
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [selectedBandId]="selectedBandId"
              [viewTimeRange]="viewTimeRange"
              (bandClick)="onBandClick($event)"
              (newSort)="onSort($event)">
            </raven-bands>
          </mat-card>
        </div>
      </split-area>

      <split-area
        [visible]="showSouthBandsDrawer$ | async"
        [order]="3"
        size="20">
        <div class="timeline">
          <mat-card>
            <raven-bands
              id="raven-bands-1"
              [bands]="bands"
              [containerId]="'1'"
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [selectedBandId]="selectedBandId"
              [viewTimeRange]="viewTimeRange"
              (bandClick)="onBandClick($event)"
              (newSort)="onSort($event)">
            </raven-bands>
          </mat-card>
        </div>
      </split-area>

      <split-area
        [visible]="showDetailsDrawer$ | async"
        [order]="4"
        size="30">
        <div class="settings">
          <mat-card>
            <raven-settings
              [bandsById]="bands | keyBy:'id'"
              [labelWidth]="labelWidth"
              [overlayMode]="overlayMode"
              [selectedBandId]="selectedBandId"
              (deleteBand)="onDeleteBand($event)"
              (updateBand)="onUpdateBand($event)"
              (updateSubBand)="onUpdateSubBand($event)"
              (updateTimeline)="onUpdateTimeline($event)">
            </raven-settings>
          </mat-card>
        </div>
      </split-area>
    </split>
  </split-area>
</split>
