:host {
  display: block;
  height: 100%;
  width: 100%;
}

mat-card {
  padding: 10px;
}

.itar-message {
  padding: 0.5em;
  text-align: center;
  font-size: x-small;
}

.get-started {
  padding: 0.5em;
  text-align: center;
}

.details,
.epochs,
.global-settings,
.timeline-0,
.timeline-1,
.selected-band,
.selected-point {
  padding: 0.5em;
}
