<split
  direction="horizontal"
  (dragEnd)="onDragEnd()">
  <split-area
    [visible]="showLeftDrawer"
    [order]="0"
    size="25">
    <app-source-explorer></app-source-explorer>
  </split-area>

  <split-area
    [order]="1"
    [size]="timelinePanelSize">
    <split
      direction="vertical"
      (dragEnd)="onDragEnd()">
      <split-area
        [order]="2"
        size="80">
        <div
          *ngIf="itarMessage !== ''"
          class="itar-message">
          <mat-card>
            {{itarMessage}}
          </mat-card>
        </div>

        <div
          *ngIf="bands.length === 0"
          class="get-started">
          <mat-card>
            To get started, select some <i class="fa fa-area-chart" style="color: #17a923" aria-hidden="true"></i> Data Sources from the source explorer.
          </mat-card>
        </div>

        <div
          *ngIf="bands.length > 0"
          class="timeline-0">
          <mat-card>
            <falcon-time-scroll-bar
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [viewTimeRange]="viewTimeRange"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)">
            </falcon-time-scroll-bar>

            <falcon-time-band
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [viewTimeRange]="viewTimeRange"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)">
            </falcon-time-band>

            <raven-bands
              class="raven-bands-0"
              [bands]="bands"
              [containerId]="'0'"
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [selectedBandId]="selectedBandId"
              [selectedPoint]="selectedPoint"
              [viewTimeRange]="viewTimeRange"
              (bandLeftClick)="onBandLeftClick($event)"
              (newSort)="onSort($event)"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)">
            </raven-bands>
          </mat-card>
        </div>
      </split-area>

      <split-area
        [visible]="showSouthBandsDrawer"
        [order]="3"
        size="20">
        <div class="timeline-1">
          <mat-card>
            <raven-bands
              class="raven-bands-1"
              [bands]="bands"
              [containerId]="'1'"
              [labelWidth]="labelWidth"
              [maxTimeRange]="maxTimeRange"
              [selectedBandId]="selectedBandId"
              [selectedPoint]="selectedPoint"
              [viewTimeRange]="viewTimeRange"
              (bandLeftClick)="onBandLeftClick($event)"
              (newSort)="onSort($event)"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)">
            </raven-bands>
          </mat-card>
        </div>
      </split-area>

      <split-area
        [visible]="showDetailsDrawer"
        [order]="4"
        size="20">
        <div class="details">
          <mat-card>
            Nothing here yet.
          </mat-card>
        </div>
      </split-area>
    </split>
  </split-area>

  <split-area
    [visible]="showRightDrawer"
    [order]="5"
    size="25">
    <mat-tab-group
      #rightDrawerTabGroup
      [@.disabled]="true"
      [selectedIndex]="rightDrawerSelectedTabIndex"
      (selectedTabChange)="onSelectedTabChange($event)">
      <!-- Selected Point. -->
      <mat-tab
        class="selected-band-tab"
        label="Selected Band">
        <div
          *ngIf="rightDrawerTabGroup.selectedIndex === 0"
          class="selected-band">
          <ng-container *ngIf="selectedBandId === ''">
            <mat-card>
              No band is currently selected.
            </mat-card>
          </ng-container>

          <ng-container *ngIf="selectedBandId !== ''">
            <raven-settings
              [bandsById]="bands | keyBy:'id'"
              [selectedBandId]="selectedBandId"
              [selectedSubBandId]="selectedSubBandId"
              (deleteSubBand)="onDeleteSubBand($event)"
              (updateBand)="onUpdateBand($event)"
              (updateSubBand)="onUpdateSubBand($event)"
              (updateTimeline)="onUpdateTimeline($event)">
            </raven-settings>
          </ng-container>
        </div>
      </mat-tab>

      <!-- Selected Band. -->
      <mat-tab label="Selected Point">
        <div
          *ngIf="rightDrawerTabGroup.selectedIndex === 1"
          class="selected-point">
          <ng-container *ngIf="!selectedPoint">
            <mat-card>
              No point is currently selected.
            </mat-card>
          </ng-container>

          <ng-container *ngIf="selectedPoint">
            <ng-container *ngIf="selectedPoint.type === 'activity'">
              <raven-activity-point
                [selectedPoint]="selectedPoint"
                [showActivityPointMetadata]="showActivityPointMetadata"
                [showActivityPointParameters]="showActivityPointParameters"
                (toggleShowActivityPointMetadata)="onToggleShowActivityPointMetadata($event)"
                (toggleShowActivityPointParameters)="onToggleShowActivityPointParameters($event)">
              </raven-activity-point>
            </ng-container>

            <ng-container *ngIf="selectedPoint.type === 'state'">
              <raven-state-point
                [selectedPoint]="selectedPoint">
              </raven-state-point>
            </ng-container>

            <ng-container *ngIf="selectedPoint.type === 'resource'">
              <raven-resource-point
                [selectedPoint]="selectedPoint">
              </raven-resource-point>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </split-area>
</split>
