<h2 id="sequencing-command-list-title">Commands</h2>

<mat-nav-list dense *ngIf="commands?.length" id="sequencing-command-list">
  <mat-accordion>
    <cdk-virtual-scroll-viewport class="viewport" itemSize="6">
      <mat-expansion-panel
        hideToggle="true"
        *cdkVirtualFor="let command of sortedAndFilteredCommands"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ command.name }}</mat-panel-title>
          <button
            mat-icon-button
            matTooltip="Add Command to Editor"
            color="primary"
            (click)="onSelectCommand($event, command)"
            class="add-command-button"
          >
            <mat-icon aria-label="Add Command">
              add
            </mat-icon>
          </button>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          {{
            commandsByName[command.name].description ||
              (commandsByName[command.name].parameters | json)
          }}
        </ng-template>
      </mat-expansion-panel>

      <mat-list-item
        *ngIf="sortedAndFilteredCommands.length === 0"
        class="command-list-item"
      >
        <span mat-line>
          No matching commands
        </span></mat-list-item
      >
    </cdk-virtual-scroll-viewport>
  </mat-accordion>
</mat-nav-list>

<mat-card *ngIf="!commands?.length" id="sequencing-no-commands-prompt">
  Select a command dictionary to view commands.
</mat-card>
