<raven-app-header title="Activity Instance" contextual="true" (menuClicked)="onMenuClicked()">
</raven-app-header>

<main class="content">
  <form id="activity-form" [formGroup]="activityForm" (ngSubmit)="onSubmitActivityForm(activityForm.value)">
    <mat-sidenav-container hasBackdrop="false">
      <mat-sidenav mode="side" position="start" opened="true">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Activity Type</mat-label>
          <mat-select
            placeholder="Select Activity Type"
            [formControl]="activityForm.controls['activityTypeId']"
            [compareWith]="compareSelectValues"
            required>
            <mat-option *ngFor="let activityType of activityTypes | async" [value]="activityType.id">
              {{ activityType.name }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Activity Name</mat-label>
          <input matInput placeholder="Activity Name" type="text" [formControl]="activityForm.controls['name']"
            required />
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Start</mat-label>
          <input matInput placeholder="Start time" type="datetime-local"
            [formControl]="activityForm.controls['start']" required />
          <mat-hint align="start">UTC within plan bounds</mat-hint>
          <mat-icon matSuffix>event</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Duration</mat-label>
          <input matInput placeholder="Duration" type="text" [formControl]="activityForm.controls['duration']"
            required />
          <mat-hint align="start">hh:mm</mat-hint>
          <mat-icon matSuffix>hourglass_empty</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Intent</mat-label>
          <textarea matInput placeholder="Add intent" [formControl]="activityForm.controls['intent']"></textarea>
          <mat-hint align="start">Optional</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Sequence ID</mat-label>
          <input matInput placeholder="Duration" type="text" [formControl]="activityForm.controls['sequenceId']"
            required />
          <mat-hint align="start">Optional</mat-hint>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

      </mat-sidenav>
      <mat-sidenav-content>
        <div class="form-section">
          <mat-tab-group color="accent">
            <!-- Parameters. -->
            <mat-tab label="Parameters"></mat-tab>

            <!-- Constraints. -->
            <mat-tab label="Constraints">
              <div class="panels">
                <div>
                  <ng-container *ngFor="let group of activityForm.get('constraints')?.controls">
                    <!-- Select. -->
                    <mat-form-field
                      *ngIf="group.controls['type'].value === 'list'"
                      appearance="fill"
                      floatLabel="always">
                      <mat-label>{{ group.controls.name.value }}</mat-label>
                      <mat-select
                        [formControl]="group.controls['value']"
                        [value]="group.controls['value'].value">
                        <mat-option *ngFor="let value of group.controls['values'].value" [value]="value">
                          {{ value }}
                        </mat-option>
                      </mat-select>
                      <mat-icon *ngIf="group.controls['locked'].value" matSuffix>lock</mat-icon>
                      <mat-hint align="start">Default: {{ group.controls.default.value }}</mat-hint>
                    </mat-form-field>

                    <!-- Enum. -->
                    <mat-form-field
                      *ngIf="group.controls['type'].value === 'enum'"
                      appearance="fill">
                      <mat-label>{{ group.controls.name.value }}</mat-label>
                      <input
                        matInput
                        placeholder="Duration"
                        type="text"
                        [formControl]="group.controls['value']"
                        [readonly]="group.controls['locked'].value" />
                      <mat-icon *ngIf="group.controls['locked'].value" matSuffix>lock</mat-icon>
                      <mat-hint align="start">{{ group.controls.default.value }}</mat-hint>
                    </mat-form-field>
                  </ng-container>
                </div>
                <div>
                </div>
              </div>
            </mat-tab>

            <!-- Sub Activities. -->
            <mat-tab label="Sub Activities">
              <div class="panels">
                <raven-sub-activity-tree></raven-sub-activity-tree>
                <div>
                  <!-- Placeholder for Details of selected sub-activity TDB. -->
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-sidenav-content>
      <mat-sidenav mode="side" position="end" opened="true">
        <aside>
          <div class="form-controls">
            <button id="cancel-button" mat-stroked-button color="primary" (click)="onClickCancel()">Cancel</button>
            <button id="save-button" mat-raised-button color="accent" *ngIf="isNew">Save</button>
            <button id="update-button" mat-raised-button color="accent" *ngIf="!isNew">Update</button>
          </div>
        </aside>
      </mat-sidenav>
    </mat-sidenav-container>
  </form>
</main>
