<div class="node" [ngClass]="{
  'selected': tree[id].selected,
  'highlight': tree[id].expanded || tree[id].opened,
  'no-highlight': !tree[id].expanded && !tree[id].opened
}">
  <span *ngIf="tree[id].expandable">
    <span *ngIf="tree[id].expanded">
      <mat-icon (click)="collapse.emit(tree[id])">remove</mat-icon>
    </span>

    <span *ngIf="!tree[id].expanded">
      <mat-icon (click)="expand.emit(tree[id])">add</mat-icon>
    </span>
  </span>

  <span *ngIf="tree[id].openable">
    <span *ngIf="tree[id].opened">
      <mat-icon (click)="close.emit(tree[id])">radio_button_checked</mat-icon>
    </span>

    <span *ngIf="!tree[id].opened">
      <mat-icon (click)="open.emit(tree[id])">radio_button_unchecked</mat-icon>
    </span>
  </span>

  <span (click)="select.emit(tree[id])" class="name">
    <i [ngClass]="tree[id].icon" aria-hidden="true"></i> {{tree[id].name}}
  </span>

  <mat-menu
    #actionsMenu="matMenu"
    [overlapTrigger]="false"
    y-position="below">
    <button mat-menu-item>Power</button>
    <button mat-menu-item>System settings</button>
  </mat-menu>

  <button class="menu-icon" *ngIf="tree[id].selected" mat-icon-button [matMenuTriggerFor]="actionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>

<div *ngIf="tree[id].expanded">
  <ul>
    <div *ngFor="let childId of tree[id].childIds">
      <li>
        <raven-tree-node
          [id]="childId"
          [tree]="tree"
          (close)="close.emit($event)"
          (collapse)="collapse.emit($event)"
          (expand)="expand.emit($event)"
          (open)="open.emit($event)"
          (select)="select.emit($event)">
        </raven-tree-node>
      </li>
    </div>
  </ul>
</div>
