<div mat-dialog-content>
  <div class="container">
    <div class="center">
      <p>
        {{ data.message }}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div mat-dialog-actions align="end">
    <button
      *ngIf="data.confirmText"
      mat-button
      (click)="onConfirm()"
      cdkFocusInitial
    >
      {{ data.confirmText }}
    </button>
    <button mat-button color="accent" (click)="onCancel()" matDialogClose>
      {{ data.cancelText }}
    </button>
  </div>
</div>
