<h4 mat-dialog-title>
  {{titleMessage}}
</h4>

<div mat-dialog-content>
  <div class="container">
    <div
      *ngIf="invalidShareableName"
      class="alert alert-danger">
      A shareable name is required and you can only use letters, numbers, dashes and underscores.
    </div>

    <div
      *ngIf="overwriteWarning"
      class="alert alert-warning">
      There is already a state name {{shareableNameControl.value}} in the /{{data.state.config.raven.shareableLinkStatesUrl}} folder. Copying the shareable link will overwrite it. Are you sure you want this?
    </div>

    <!-- Shareable Link. -->
    <label>Shareable Link</label>
    <span class="shareable-link-input">
      <input
        #shareableLinkInput
        [formControl]="shareableLinkControl"
        readonly
        type="text"
        (click)="onShareableLinkClick()">
    </span>

    <!-- Shareable Name. -->
    <label>Shareable Name</label>
    <span class="shareable-name-input">
      <input
        #shareableNameInput
        [formControl]="shareableNameControl"
        type="text">
    </span>
  </div>
</div>

<div class="container">
  <div class="actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</div>
