<div
  class="sortable-bands"
  [sortablejs]="sortedAndFilteredBands"
  [sortablejsOptions]="sortablejsOptions">
  <div
    *ngFor="let band of sortedAndFilteredBands; trackBy: bandsTrackByFn"
    [ngClass]="{ 'selected': band.id === selectedBandId }">
    <raven-composite-band
      [class]="'raven-band-' + band.name"
      [compositeAutoScale]="band.compositeAutoScale"
      [compositeLogTicks]="band.compositeLogTicks"
      [compositeScientificNotation]="band.compositeScientificNotation"
      [compositeYAxisLabel]="band.compositeYAxisLabel"
      [containerId]="band.containerId"
      [cursorColor]="cursorColor"
      [cursorTime]="cursorTime"
      [cursorWidth]="cursorWidth"
      [dayCode]="dayCode"
      [earthSecToEpochSec]="earthSecToEpochSec"
      [epoch]="epoch"
      [height]="band.height"
      [heightPadding]="band.heightPadding"
      [id]="band.id"
      [labelFontSize]="labelFontSize"
      [labelWidth]="labelWidth"
      [maxTimeRange]="maxTimeRange"
      [selectedPoint]="selectedPoint"
      [showTooltip]="showTooltip"
      [subBands]="band.subBands"
      [viewTimeRange]="viewTimeRange"
      (bandLeftClick)="bandLeftClick.emit($event)"
      (updateViewTimeRange)="updateViewTimeRange.emit($event)">
    </raven-composite-band>
  </div>
</div>
