<ng-container *ngFor="let subBand of subBands; index as i; trackBy: subBandsTrackByFn">
  <!-- Activity Band. -->
  <raven-activity-band
    *ngIf="subBand.type === 'activity'"
    [activityHeight]="subBand.activityHeight"
    [activityStyle]="subBand.activityStyle"
    [alignLabel]="subBand.alignLabel"
    [baselineLabel]="subBand.baselineLabel"
    [borderWidth]="subBand.borderWidth"
    [class]="'raven-sub-band-' + i"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="subBand.labelFontSize"
    [layout]="subBand.layout"
    [minorLabels]="subBand.minorLabels"
    [name]="subBand.name"
    [points]="subBand.points"
    [showLabel]="subBand.showLabel"
    [showTooltip]="subBand.showTooltip"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-activity-band>

  <!-- Divider Band. -->
  <raven-divider-band
    *ngIf="subBand.type === 'divider'"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [height]="subBand.height"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [minorLabels]="subBand.minorLabels"
    [name]="subBand.name"
    [showTooltip]="subBand.showTooltip"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-divider-band>

  <!-- Resource Band. -->
  <raven-resource-band
    *ngIf="subBand.type === 'resource'"
    [autoTickValues]="subBand.autoTickValues"
    [class]="'raven-sub-band-' + i"
    [color]="subBand.color"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [fill]="subBand.fill"
    [fillColor]="subBand.fillColor"
    [font]="subBand.font"
    [height]="height"
    [heightPadding]="heightPadding"
    [icon]="subBand.icon"
    [id]="subBand.id"
    [interpolation]="subBand.interpolation"
    [label]="subBand.label"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="subBand.labelFontSize"
    [minorLabels]="subBand.minorLabels"
    [name]="subBand.name"
    [points]="subBand.points"
    [rescale]="subBand.rescale"
    [showIcon]="subBand.showIcon"
    [showTooltip]="subBand.showTooltip"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateInterpolation)="onUpdateInterpolation($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-resource-band>

  <!-- State Band. -->
  <raven-state-band
    *ngIf="subBand.type === 'state'"
    [alignLabel]="subBand.alignLabel"
    [baselineLabel]="subBand.baselineLabel"
    [borderWidth]="subBand.borderWidth"
    [class]="'raven-sub-band-' + i"
    [ctlTimeAxis]="ctlTimeAxis"
    [ctlViewTimeAxis]="ctlViewTimeAxis"
    [height]="subBand.height"
    [heightPadding]="subBand.heightPadding"
    [id]="subBand.id"
    [label]="subBand.label"
    [labelColor]="subBand.labelColor"
    [labelFont]="subBand.labelFont"
    [labelFontSize]="subBand.labelFontSize"
    [minorLabels]="subBand.minorLabels"
    [name]="subBand.name"
    [points]="subBand.points"
    [showTooltip]="subBand.showTooltip"
    [type]="subBand.type"
    (addSubBand)="onAddSubBand($event)"
    (removeSubBand)="onRemoveSubBand($event)"
    (updateIntervals)="onUpdateIntervals($event)"
    (updateSubBand)="onUpdateSubBand($event)">
  </raven-state-band>
</ng-container>
