:host {
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

table {
  padding-bottom: 15px;
  width: 100%;
}

td {
  background-color: #dcdfe5;
  padding: 0.5em;
  word-break: break-all;
}

label {
  font-size: 16px;
  font-weight: 400;
}
