/**
 * Copyright 2018, by the California Institute of Technology. ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
 * Any commercial use must be negotiated with the Office of Technology Transfer at the California Institute of Technology.
 * This software may be subject to U.S. export control laws and regulations.
 * By accepting this document, the user agrees to comply with all applicable U.S. export laws and regulations.
 * User has the responsibility to obtain export licenses, or other export authority as may be required
 * before exporting such information to foreign countries or providing access to foreign persons
 */

.activity-preview {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-preview p {
  margin: 0 !important;
}

.activity-preview-header {
  margin-top: 30px;
  margin-bottom: 5px;
}

.custom-mat-form-field {
  background: whitesmoke;
  padding: 0.75em;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}

.custom-mat-form-field .custom-label {
  margin-bottom: 5px;
}

.form-controls {
  grid-template-columns: repeat(3, 1fr) !important;
}

mat-form-field {
  display: block;
  margin-bottom: 1rem;
}

.form-controls {
  display: grid;
  justify-content: end;
  grid-template-columns: min-content min-content;
  grid-gap: 12px;
}

.datetime-input-hint {
  margin-bottom: 12px;
  text-align: right;
}

::ng-deep .twitter-body {
  padding: unset !important;
}

::ng-deep .twitter-picker {
  box-shadow: none !important;
  width: 100% !important;
  background: inherit !important;
}

::ng-deep .triangleShadow,
::ng-deep .triangle {
  display: none;
}
