<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)"
  *ngIf="activity || isNew"
>
  <mat-form-field
    appearance="fill"
    floatLabel="always"
    *ngIf="selectedActivityType"
  >
    <mat-label>Activity Type</mat-label>
    <mat-select
      [formControlName]="'activityType'"
      [(value)]="selectedActivityType!.name"
    >
      <mat-option
        *ngFor="let activityType of activityTypes"
        [value]="activityType.name"
      >
        {{ activityType.name }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    floatLabel="always"
    *ngIf="!selectedActivityType"
  >
    <mat-label>Activity Type</mat-label>
    <mat-select
      placeholder="Select Activity Type"
      [formControlName]="'activityType'"
    >
      <mat-option
        *ngFor="let activityType of activityTypes"
        [value]="activityType.name"
      >
        {{ activityType.name }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Activity Name</mat-label>
    <input
      matInput
      placeholder="Activity Name"
      type="text"
      [formControlName]="'name'"
      required
    />
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label *ngIf="!manualTimeInput">Start Time (datetime)</mat-label>
    <mat-label *ngIf="manualTimeInput">Start Time (epoch)</mat-label>

    <div *ngIf="!manualTimeInput">
      <input
        matInput
        [owlDateTime]="startTime"
        [owlDateTimeTrigger]="startTime"
        [formControlName]="'start'"
        required
      />
      <owl-date-time #startTime></owl-date-time>
    </div>

    <div *ngIf="manualTimeInput">
      <input matInput [formControlName]="'start'" type="number" required />
      <owl-date-time #startTime></owl-date-time>
    </div>

    <mat-hint align="start">UTC within plan bounds</mat-hint>
    <mat-icon matSuffix>event</mat-icon>
  </mat-form-field>

  <div class="datetime-input-hint">
    <mat-slide-toggle
      [checked]="manualTimeInput"
      (change)="onManualTimeInputChange()"
    >
      Enter Start as epoch
    </mat-slide-toggle>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Duration</mat-label>
    <input
      matInput
      placeholder="Duration"
      type="number"
      [formControlName]="'duration'"
      required
    />
    <mat-hint align="start">000</mat-hint>
    <mat-icon matSuffix>hourglass_empty</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Intent</mat-label>
    <textarea matInput placeholder="Add intent" [formControlName]="'intent'">
    </textarea>
    <mat-hint align="start">Optional</mat-hint>
  </mat-form-field>

  <div class="form-controls" *ngIf="displayActions">
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="cancel.emit()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="basic"
      type="button"
      (click)="clickAdvanced.emit(activity?.activityId)"
    >
      Advanced
    </button>
    <button mat-raised-button color="accent" [disabled]="!form.valid">
      Save
    </button>
  </div>
</form>
