:host {
  display: block;
  height: 100%;
  width: 100%;
}

mat-card {
  padding: 10px;
}

::ng-deep mat-tab-header {
  z-index: 1; /* Prevents CSS bleed of the tab header. */
}

mat-sidenav.apply-layout-drawer {
  width: 700px;
}

mat-sidenav.epochs-drawer {
  width: 600px;
}

mat-sidenav.output-drawer {
  width: 900px;
}

mat-sidenav.situational-awareness-drawer {
  width: 900px;
}

mat-sidenav-container {
  z-index: 5;
}

.time-bands-container {
  background: white;
  position: sticky;
  top: 0px;
}

.get-started {
  padding: 0.5em;
  text-align: center;
}

.itar-message {
  padding: 0.5em;
  text-align: center;
  font-size: x-small;
}

.sidenav-content {
  height: 100%;
}

.details,
.raven-table,
.selected-band,
.selected-point,
.sidenav-content,
.timeline-0,
.timeline-1 {
  padding: 0.5em;
}
