<split
  direction="horizontal"
  (dragEnd)="resize()">
  <split-area
    [visible]="showLeftPanel"
    [order]="0"
    size="25">
    <app-source-explorer></app-source-explorer>
  </split-area>

  <split-area
    [order]="1"
    [size]="timelinePanelSize">
    <split
      direction="vertical"
      (dragEnd)="resize()">
      <split-area
        [order]="2"
        size="80">
        <div
          *ngIf="itarMessage !== ''"
          class="itar-message">
          <mat-card>
            {{itarMessage}}
          </mat-card>
        </div>

        <div
          *ngIf="bands.length === 0"
          class="get-started">
          <mat-card>
            To get started, select some <i class="fa fa-area-chart" style="color: #17a923" aria-hidden="true"></i> Data Sources from the source explorer.
          </mat-card>
        </div>

        <div
          *ngIf="bands.length > 0"
          class="timeline-0">
          <mat-card>
            <div class="time-bands-container">
              <raven-time-scroll-bar
                [labelWidth]="defaultBandSettings.labelWidth"
                [maxTimeRange]="maxTimeRange"
                [viewTimeRange]="viewTimeRange"
                (updateViewTimeRange)="onUpdateViewTimeRange($event)">
              </raven-time-scroll-bar>

              <raven-time-band
                [cursorColor]="cursorColor"
                [cursorTime]="cursorTime"
                [cursorWidth]="cursorWidth"
                [dayCode]="dayCode"
                [earthSecToEpochSec]="earthSecToEpochSec"
                [epoch]="inUseEpoch"
                [labelWidth]="defaultBandSettings.labelWidth"
                [maxTimeRange]="maxTimeRange"
                [showTooltip]="defaultBandSettings.showTooltip"
                [viewTimeRange]="viewTimeRange"
                (updateViewTimeRange)="onUpdateViewTimeRange($event)">
              </raven-time-band>
            </div>

            <raven-bands
              class="raven-bands-0"
              [cursorColor]="cursorColor"
              [cursorTime]="cursorTime"
              [cursorWidth]="cursorWidth"
              [bands]="bands"
              [containerId]="'0'"
              [dayCode]="dayCode"
              [earthSecToEpochSec]="earthSecToEpochSec"
              [epoch]="inUseEpoch"
              [labelFontSize]="defaultBandSettings.labelFontSize"
              [labelWidth]="defaultBandSettings.labelWidth"
              [maxTimeRange]="maxTimeRange"
              [selectedBandId]="selectedBandId"
              [selectedPoint]="selectedPoint"
              [showTooltip]="defaultBandSettings.showTooltip"
              [viewTimeRange]="viewTimeRange"
              (bandLeftClick)="onBandLeftClick($event)"
              (newSort)="onSort($event)"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)">
            </raven-bands>
          </mat-card>
        </div>
      </split-area>

      <split-area
        [visible]="showSouthBandsPanel"
        [order]="3"
        size="20">
        <div class="timeline-1">
          <mat-card>
            <raven-bands
              class="raven-bands-1"
              [cursorColor]="cursorColor"
              [cursorTime]="cursorTime"
              [cursorWidth]="cursorWidth"
              [bands]="bands"
              [containerId]="'1'"
              [dayCode]="dayCode"
              [earthSecToEpochSec]="earthSecToEpochSec"
              [epoch]="inUseEpoch"
              [labelFontSize]="defaultBandSettings.labelFontSize"
              [labelWidth]="defaultBandSettings.labelWidth"
              [maxTimeRange]="maxTimeRange"
              [selectedBandId]="selectedBandId"
              [selectedPoint]="selectedPoint"
              [showTooltip]="defaultBandSettings.showTooltip"
              [viewTimeRange]="viewTimeRange"
              (bandLeftClick)="onBandLeftClick($event)"
              (newSort)="onSort($event)"
              (updateViewTimeRange)="onUpdateViewTimeRange($event)">
            </raven-bands>
          </mat-card>
        </div>
      </split-area>

      <split-area
        [visible]="showDetailsPanel"
        [order]="4"
        size="20">
        <raven-table
          class="raven-table"
          [points]="selectedSubBandPoints"
          [selectedBandId]="selectedBandId"
          [selectedSubBand]="selectedSubBand"
          [selectedPoint]="selectedPoint"
          (updateTableColumns)="onUpdateSubBand($event)">
        </raven-table>
      </split-area>
    </split>
  </split-area>

  <split-area
    [visible]="showRightPanel"
    [order]="5"
    size="25">
    <!-- Tabs. -->
    <mat-tab-group
      [selectedIndex]="rightPanelSelectedTabIndex"
      (selectedTabChange)="onSelectedTabChange($event)">
      <!-- Selected Band. -->
      <mat-tab label="Selected Band">
        <div class="selected-band">
          <ng-container *ngIf="selectedBandId === ''">
            <mat-card>
              No band is currently selected.
            </mat-card>
          </ng-container>

          <ng-container *ngIf="selectedBandId !== ''">
            <raven-settings-bands
              [bandsById]="bands | keyBy:'id'"
              [selectedBandId]="selectedBandId"
              [selectedSubBandId]="selectedSubBandId"
              (deleteSubBand)="onDeleteSubBand($event)"
              (updateBand)="onUpdateBand($event)"
              (updateBandAndSubBand)="onUpdateBandAndSubBand($event)"
              (updateSubBand)="onUpdateSubBand($event)"
              (updateTimeline)="onUpdateTimeline($event)">
            </raven-settings-bands>
          </ng-container>
        </div>
      </mat-tab>

      <!-- Selected Point. -->
      <mat-tab label="Selected Point">
        <div class="selected-point">
          <ng-container *ngIf="!selectedPoint">
            <mat-card>
              No point is currently selected.
            </mat-card>
          </ng-container>

          <ng-container *ngIf="selectedPoint">
            <ng-container *ngIf="selectedPoint.type === 'activity'">
              <raven-activity-point
                [selectedPoint]="selectedPoint"
                [showActivityPointMetadata]="showActivityPointMetadata"
                [showActivityPointParameters]="showActivityPointParameters"
                (toggleShowActivityPointMetadata)="onToggleShowActivityPointMetadata($event)"
                (toggleShowActivityPointParameters)="onToggleShowActivityPointParameters($event)">
              </raven-activity-point>
            </ng-container>

            <ng-container *ngIf="selectedPoint.type === 'state'">
              <raven-state-point
                [selectedPoint]="selectedPoint">
              </raven-state-point>
            </ng-container>

            <ng-container *ngIf="selectedPoint.type === 'resource'">
              <raven-resource-point
                [selectedPoint]="selectedPoint">
              </raven-resource-point>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </split-area>
</split>

<mat-sidenav-container>
  <!-- Apply Layout Drawer. -->
  <mat-sidenav
    *ngIf="showApplyLayoutDrawer"
    class="apply-layout-drawer"
    mode="over"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="40"
    [opened]="showApplyLayoutDrawer"
    (closedStart)="onToggleApplyLayoutDrawer(false)">
    <div class="sidenav-content">
      <button
        mat-icon-button
        (click)="onToggleApplyLayoutDrawer(false)">
        <mat-icon
          aria-label="Clear">
          clear
        </mat-icon>
      </button>
      <raven-layout-apply
        [currentStateId]="currentStateId"
        [treeBySourceId]="treeBySourceId"
        (applyLayout)="onApplyLayout($event)">
      </raven-layout-apply>
    </div>
  </mat-sidenav>

  <!-- Global Settings Drawer. -->
  <mat-sidenav
    *ngIf="showGlobalSettingsDrawer"
    mode="over"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="40"
    [opened]="showGlobalSettingsDrawer"
    (closedStart)="onToggleGlobalSettingsDrawer(false)">
    <div class="sidenav-content">
      <button
        mat-icon-button
        (click)="onToggleGlobalSettingsDrawer(false)">
        <mat-icon
          aria-label="Clear">
          clear
        </mat-icon>
      </button>
      <raven-settings-global
        [defaultBandSettings]="defaultBandSettings"
        (addDividerBand)="onAddDividerBand()"
        (updateDefaultBandSettings)="onUpdateDefaultBandSettings($event)"
        (updateTimeline)="onUpdateTimeline($event)">
      </raven-settings-global>
    </div>
  </mat-sidenav>

  <!-- Epochs Drawer. -->
  <mat-sidenav
    *ngIf="showEpochsDrawer"
    class="epochs-drawer"
    mode="over"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="40"
    [opened]="showEpochsDrawer"
    (closedStart)="onToggleEpochsDrawer(false)">
    <div class="sidenav-content">
      <button
        mat-icon-button
        (click)="onToggleEpochsDrawer(false)">
        <mat-icon
          aria-label="Clear">
          clear
        </mat-icon>
      </button>
      <raven-epochs
        [epochs]="epochs"
        [dayCode]="dayCode"
        [earthSecToEpochSec]="earthSecToEpochSec"
        [inUseEpoch]="inUseEpoch"
        (importEpochs)="onImportEpochs($event)"
        (updateEpochs)="onUpdateEpochs($event)">
      </raven-epochs>
    </div>
  </mat-sidenav>

  <!-- Output Drawer. -->
  <mat-sidenav
    *ngIf="showOutputDrawer"
    class="output-drawer"
    mode="over"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="40"
    [opened]="showOutputDrawer"
    (closedStart)="onToggleOutputDrawer(false)">
    <div class="sidenav-content">
      <button
        mat-icon-button
        (click)="onToggleOutputDrawer(false)">
        <mat-icon
          aria-label="Clear">
          clear
        </mat-icon>
      </button>
      <raven-output
        [allInOneFile]="allInOneFile"
        [allInOneFilename]="allInOneFilename"
        [decimateOutputData]="decimateOutputData"
        [outputFormat]="outputFormat"
        [outputSourceIdsByLabel]="outputSourceIdsByLabel"
        [subBandSourceIdsByLabel]="subBandSourceIdsByLabel"
        (createOutput)="onCreateOutput()"
        (updateOutputSettings)="onUpdateOutputSettings($event)">
      </raven-output>
    </div>
  </mat-sidenav>

  <!-- Time cursor Drawer. -->
  <mat-sidenav
    *ngIf="showTimeCursorDrawer"
    class="time-cursor-drawer"
    mode="over"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="40"
    [opened]="showTimeCursorDrawer"
    (closedStart)="onToggleTimeCursorDrawer(false)">
    <div class="sidenav-content">
      <button
        mat-icon-button
        (click)="onToggleTimeCursorDrawer(false)">
        <mat-icon
          aria-label="Clear">
          clear
        </mat-icon>
      </button>
      <raven-time-cursor
        [autoPage]="autoPage"
        [clockRate]="clockRate"
        [currentTimeDelta]="currentTimeDelta"
        [cursorColor]="cursorColor"
        [cursorTime]="cursorTime"
        [cursorWidth]="cursorWidth"
        [showTimeCursor]="showTimeCursor"
        [setCursorTime]="setCursorTime"
        (displayTimeCursor)="onDisplayTimeCursor($event)"
        (updateTimeCursorSettings)="onUpdateTimeCursorSettings($event)">
      </raven-time-cursor>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
