<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <h2 mat-dialog-title>{{ modeText }} Plan</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Plan Name" type="text"
        [formControl]="form.controls['name']" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plan ID</mat-label>
      <input matInput placeholder="id1" type="text" [formControl]="form.controls['id']"
        required />
    </mat-form-field>

    <div class="plan-dates">
      <mat-form-field appearance="fill">
        <mat-label>Plan Start</mat-label>
        <input matInput placeholder="Start time" type="datetime-local" [formControl]="form.controls['start']"
          required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Plan End</mat-label>
        <input matInput placeholder="End time" type="datetime-local" [formControl]="form.controls['end']"
          required />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Adaptation</mat-label>
      <mat-select placeholder="Select an Adaptation" [formControl]="form.controls['adaptationId']">
        <mat-option
          *ngFor="let adaptation of adaptations"
          [value]="adaptation.id">
          {{ adaptation.name }} {{ adaptation.version }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="accent">Cancel</button>
    <button mat-button color="accent">Save</button>
  </mat-dialog-actions>
</form>
