<!-- Folder Add. -->

<div mat-dialog-content>
  <div class="folder-add">
    Add Folder to: {{data.source.name}}
  </div>

  <div class="container">
    <div
      *ngIf="duplicateError"
      class="alert alert-warning">
      There is already a folder "{{name.value}}" in this folder.
    </div>

    <mat-form-field>
      <input
        [formControl]="name"
        matInput
        placeholder="Name"
        required>
    </mat-form-field>
  </div>
</div>

<div class="container">
  <div class="actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onAdd()" [disabled]="!name.valid || duplicateError">Add</button>
  </div>
</div>

