<mat-card>
  <mat-card-title>
    Situational Awareness
  </mat-card-title>

  <mat-card-content>
    <!-- Enable Situational Awareness. -->
    <div class="field">
      <mat-slide-toggle
        color="accent"
        [checked]="situationalAware"
        (change)="changeSituationalAwareness.emit($event.checked)"
      >
        Enable Situational Awareness
      </mat-slide-toggle>
    </div>

    <!-- Time used. -->
    <div class="field">
      <mat-form-field>
        <mat-select
          placeholder="Time Used"
          [value]="useNow"
          (selectionChange)="
            updateSituationalAwarenessSettings.emit({
              update: { useNow: $event.value }
            })
          "
        >
          <mat-option [value]="true">Now</mat-option>
          <mat-option [value]="false">Input Time</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ng-container *ngIf="useNow">
      <!-- Minus Delta. -->
      <mat-form-field>
        <mat-label>Minus Delta</mat-label>
        <input
          matInput
          [value]="nowMinus | duration"
          [formControl]="nowMinusControl"
          placeholder="dddThh:mm:ss.mmm"
          (keyup)="onSetMinusDelta()"
        />
      </mat-form-field>

      <!-- Plus Delta. -->
      <mat-form-field>
        <mat-label>Plus Delta</mat-label>
        <input
          matInput
          [value]="nowPlus | duration"
          [formControl]="nowPlusControl"
          placeholder="dddThh:mm:ss.mmm"
          (keyup)="onSetPlusDelta()"
        />
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!useNow">
      <!-- Input Time. -->
      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input
          matInput
          [value]="startTime | timestamp"
          [formControl]="startTimeControl"
          placeholder="yyyy-dddThh:mm:ss.mmm"
          type="text"
          (keyup)="onSetStartTime()"
        />
      </mat-form-field>

      <!-- Page Duration. -->
      <mat-form-field>
        <mat-label>Page Duration</mat-label>
        <input
          matInput
          [value]="pageDuration | duration"
          [formControl]="pageDurationControl"
          placeholder="dddThh:mm:ss.mmm"
          (keyup)="onSetPageDuration()"
        />
      </mat-form-field>
    </ng-container>

    <!-- Table. -->
    <ag-grid-angular
      #agGrid
      class="ag-theme-fresh"
      [columnDefs]="columnDefs"
      [enableColResize]="true"
      [enableSorting]="true"
      [enableFilter]="true"
      [rowData]="rowData"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
