.tree {
  white-space: nowrap;
  cursor: pointer;
  padding-left: 10px;
}

mat-icon {
  font-size: 16px;
}

.menu-icon {
  line-height: 0;
  height: 25px;
  width: 25px;
  float: right;
  color: #000000;
}

.highlight {
  color: #688ad8;
}

.no-highlight {
  color: #000000;
}

.selected {
  background-color: rgba(200, 200, 200, 0.5);
}

ul {
  margin: 0;
  padding-left: 25px;
}

li {
  list-style-type: none;
}
