<div class="tree" [ngClass]="{
  'selected': source.selected,
  'highlight': source.expanded,
  'no-highlight': !source.expanded
}">
  <mat-icon
    *ngIf="source.subKind === 'file_state' || source.importJobStatus !== 'FINISHED'"
    class="transparent">
    check_box_outline_blank
  </mat-icon>
  <mat-icon
    *ngIf="source.subKind !== 'file_state' && source.subKind !== 'file_epoch' && source.expanded"
    [id]="'raven-tree-'+source.name+'-collapse'"
    (click)="collapse.emit(source)">
    remove
  </mat-icon>
  <mat-icon
    *ngIf="source.subKind !== 'file_state' && source.subKind !== 'file_epoch' && !source.expanded && source.importJobStatus === 'FINISHED'"
    [id]="'raven-tree-'+source.name+'-expand'"
    (click)="expand.emit(source)">
    add
  </mat-icon>
  <span (click)="select.emit(source)" class="name"
    [ngClass]="{
      'running': source.importJobStatus === 'RUNNING'||source.importJobStatus === 'QUEUED',
      'error': source.importJobStatus === 'ERROR'
    }">
    <i [ngClass]="source.icon" aria-hidden="true"></i> {{source.name}}
  </span>
  <button
    *ngIf="source.selected"
    class="menu-icon"
    mat-icon-button
    [matMenuTriggerFor]="actionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu
    #actionsMenu="matMenu"
    [overlapTrigger]="false"
    y-position="below">
    <ng-container *ngFor="let a of source.actions">
      <ng-container *ngIf="a.name === 'Apply'">
        <button mat-menu-item [matMenuTriggerFor]="applyMenu">{{a.name}}</button>
      </ng-container>
      <ng-container *ngIf="a.name === 'File Metadata'">
        <button mat-menu-item (click)="openMetadata.emit(source)">File Metadata</button>
      </ng-container>
      <ng-container *ngIf="a.name !== 'Apply' && a.name !== 'File Metadata'">
        <button mat-menu-item (click)="action.emit({ event: a.event, source: source })">{{a.name}}</button>
      </ng-container>
    </ng-container>
  </mat-menu>

  <mat-menu
    #applyMenu="matMenu"
    [overlapTrigger]="false"
    y-position="below">
    <button mat-menu-item (click)="action.emit({ event: 'apply-layout', source: source })">Layout</button>
    <button mat-menu-item (click)="action.emit({ event: 'apply-state', source: source })">State</button>
  </mat-menu>
</div>
