name: "Docs / Build PR"
# For more information,
# see https://sphinx-theme.scylladb.com/stable/deployment/production.html#available-workflows

on:
  pull_request:
    branches:
      - develop
    paths:
      - "docs/**"
      - "merlin-server/constraints-dsl-compiler/src/**"
      - "scheduler-server/scheduling-dsl-compiler/src/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Set up env
        run: make -C docs setupenv
      - name: Build docs
        run: make -C docs test
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "18"
      - name: Set up Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Build EDSL Docs
        run: ./gradlew publishDocs
