name: pr

on:
  pull_request:
    branches:
      - develop

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: gradle/wrapper-validation-action@v1
      - uses: gradle/gradle-build-action@v2
      - name: Build Classes
        run: ./gradlew classes
      - name: Test
        run: ./gradlew test
      - name: Assemble
        run: ./gradlew assemble
