<div id="seq-tabs-container">
  <seq-tab
    *ngFor="let tab of openedTabs"
    [tab]="tab"
    (textClick)="switchTab.emit({ tabId: tab.id, editorId: editor.id })"
    (iconClick)="
      closeTab.emit({ tabId: tab.id, editorId: editor.id });
      switchTab.emit({ tabId: tab.id, editorId: editor.id })
    "
    [isActive]="editor.currentTab === tab.id"
  >
  </seq-tab>
</div>

<button
  mat-mini-fab
  color="primary"
  id="seq-create-tab-button"
  (click)="createTab.emit(editor.id)"
  matTooltip="Add a new tab"
>
  <mat-icon>add</mat-icon>
</button>
